<td>
  @if (user.isUser) {
  <div class="flex items-center">
    <span>{{ user.accountNumber }}</span>
    @if (showUserNotification(user, notifications$ | async)) {
    <i class="pi pi-circle-fill text-green-600 ml-2"></i>
    }
  </div>
  } @else { - }
</td>
<td>
  <span class="whitespace-nowrap">{{ user.fullName }}</span>
</td>
<td class="note">
  @if (user.isUser) {
  {{ user.note | truncate : 55 }}
  } @else { - }
</td>
<td>
  <span class="whitespace-nowrap">{{ user.email }}</span>
</td>
<td>
  <span class="whitespace-nowrap">{{ user.phoneNumber | phoneNumber }}</span>
</td>
@if (!hideManager) {
<td>{{ user.manager ? user.manager.fullName : '-' }}</td>
}
<td
  [ngClass]="{
    'text-red-500': !user.userConfirmed,
    'text-green-500': user.userConfirmed
  }"
>
  {{ user.userConfirmed ? 'Так' : 'Ні' }}
</td>
<td
  [ngClass]="{
    'text-red-500': !user.emailConfirmed,
    'text-green-500': user.emailConfirmed
  }"
>
  {{ user.emailConfirmed ? 'Так' : 'Ні' }}
</td>
<td
  [ngClass]="{
    'text-red-500': user.userFreezed,
    'text-green-500': !user.userFreezed
  }"
>
  {{ user.userFreezed ? 'Так' : 'Ні' }}
</td>
