<div class="grid">
  <div class="col-12">
    <div class="card">
      <div *ngIf="user">
        <div class="my-5">
          <ul class="striped-list">
            <li class="striped-list__item">
              <div class="striped-list__item-key">ПІБ</div>
              <div class="striped-list__item-value">
                {{ user.firstName }} {{ user.lastName }}
                {{ user.middleName }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Пошта</div>
              <div class="striped-list__item-value">
                {{ user.email }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Номер тефону</div>
              <div class="striped-list__item-value">
                {{ user.phoneNumber }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Локація</div>
              <div class="striped-list__item-value">
                {{ user.location }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Опис</div>
              <div class="striped-list__item-value">
                {{ user.bio }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Дата створення</div>
              <div class="striped-list__item-value">
                {{ user.createdAt | date : 'short' }}
              </div>
            </li>
            <li class="striped-list__item" *ngIf="'update' | able : user">
              <div class="striped-list__item-key">Керування</div>
              <div class="striped-list__item-value">
                <button
                  *ngIf="!user.userConfirmed; else confirmed"
                  pButton
                  pRipple
                  label="Надати доступ до системи"
                  (click)="confirmUser()"
                  class="p-button-success mr-4"
                  data-cy="confirm-user-button"
                ></button>
                <ng-template #confirmed>
                  <button
                    pButton
                    pRipple
                    [disabled]="true"
                    label="Доступ надано"
                    class="p-button-outlined p-button-success mr-4"
                  ></button>
                </ng-template>

                <p-confirmDialog
                  rejectButtonStyleClass="p-button-text"
                  [header]="
                    'Ви впевнені, що хочете ' +
                    (user.userFreezed ? 'відновити' : 'призупинити') +
                    ' акаунт цього користувача?'
                  "
                ></p-confirmDialog>
                <button
                  *ngIf="user.userFreezed; else freeze"
                  pButton
                  pRipple
                  label="Відновити"
                  (click)="confirmFreezeToggle()"
                  class="p-button-success"
                  icon="pi pi-unlock"
                  data-cy="unfreeze-user-button"
                ></button>
                <ng-template #freeze>
                  <button
                    pButton
                    pRipple
                    label="Призупинити"
                    (click)="confirmFreezeToggle()"
                    class="p-button-danger"
                    icon="pi pi-lock"
                    data-cy="freeze-user-button"
                  ></button>
                </ng-template>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
