:host ::ng-deep {
  .p-dialog .p-dialog-header-icons {
    display: none;
  }

  .p-confirm-dialog .p-dialog-content {
    display: none;
  }

  .p-dialog .p-dialog-footer {
    display: flex;
    justify-content: center;
  }
}