<div class="grid">
  <div class="col-12">
    <div class="card">
      <div *ngIf="user">
        <div class="my-5">
          <ul class="list-none p-0 m-0 border-top-1 border-300">
            <li class="flex align-items-center py-3 px-2 flex-wrap">
              <div class="text-500 w-full md:w-2 font-medium">ПІБ</div>
              <div class="text-900 w-full md:w-10 line-height-3">
                {{ user.firstName }} {{ user.lastName }}
                {{ user.middleName }}
              </div>
            </li>
            <li
              class="flex align-items-center py-3 px-2 flex-wrap surface-ground"
            >
              <div class="text-500 w-full md:w-2 font-medium">Пошта</div>
              <div class="text-900 w-full md:w-10">
                {{ user.email }}
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 flex-wrap">
              <div class="text-500 w-full md:w-2 font-medium">Номер тефону</div>
              <div class="text-900 w-full md:w-10 line-height-3">
                {{ user.phoneNumber }}
              </div>
            </li>
            <li
              class="flex align-items-center py-3 px-2 flex-wrap surface-ground"
            >
              <div class="text-500 w-full md:w-2 font-medium">Локація</div>
              <div class="text-900 w-full md:w-10 line-height-3">
                {{ user.location }}
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 flex-wrap">
              <div class="text-500 w-full md:w-2 font-medium">Опис</div>
              <div class="text-900 w-full md:w-10 line-height-3">
                {{ user.bio }}
              </div>
            </li>
            <li
              class="flex align-items-center py-3 px-2 flex-wrap surface-ground"
            >
              <div class="text-500 w-full md:w-2 font-medium">
                Дата створення
              </div>
              <div class="text-900 w-full md:w-10">
                {{ user.createdAt | date : 'short' }}
              </div>
            </li>
            <li
              class="flex align-items-center py-3 px-2 flex-wrap"
              *ngIf="'SuperUpdate' | able : 'UsersPage'"
            >
              <div class="text-500 w-full md:w-2 font-medium">Керування</div>
              <div class="text-900 w-full md:w-10">
                <button
                  *ngIf="!user.userConfirmed; else confirmed"
                  pButton
                  pRipple
                  label="Надати доступ до системи"
                  (click)="confirmUser()"
                  class="p-button-success mr-4"
                  data-cy="confirm-user-button"
                ></button>
                <p-confirmDialog
                  rejectButtonStyleClass="p-button-text"
                  header="Ви впевнені, що хочете заморозити цього користувача?"
                ></p-confirmDialog>
                <ng-template #confirmed>
                  <button
                    pButton
                    pRipple
                    [disabled]="true"
                    label="Доступ надано"
                    class="p-button-outlined p-button-success mr-4"
                  ></button>
                </ng-template>

                <button
                  *ngIf="user.userFreezed; else freeze"
                  pButton
                  pRipple
                  label="Розморозити"
                  (click)="confirmFreezeToggle()"
                  class="p-button-success"
                  icon="pi pi-unlock"
                  data-cy="unfreeze-user-button"
                ></button>
                <ng-template #freeze>
                  <button
                    pButton
                    pRipple
                    label="Заморозити"
                    (click)="confirmFreezeToggle()"
                    class="p-button-danger"
                    icon="pi pi-lock"
                    data-cy="freeze-user-button"
                  ></button>
                </ng-template>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
