<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Рейтинг дропшиперів</h5>
      <app-users-rating
        [data]="(analytics$ | async)?.usersData!"
      ></app-users-rating>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <h5>Загальна сума замовленнь по місяцях</h5>
      <app-income-chart
        [orders]="(analytics$ | async)?.ordersData!"
      ></app-income-chart>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <h5>Кількість замовлень по місяцях</h5>
      <app-orders-chart
        [orders]="(analytics$ | async)?.ordersData!"
      ></app-orders-chart>
    </div>
  </div>
</div>
