<div class="cart-widget widget-width">
  <div
    class="text-900 text-xl pb-3 border-bottom-1 surface-border flex justify-content-between"
  >
    <span>Баланс</span>
    <p-button
      styleClass="p-button-raised p-button-text p-button-secondary p-button-sm"
      label="Тестове поповнення"
      (onClick)="addFundsTest()"
    ></p-button>
  </div>
  <ng-container *ngIf="balance$ | async as balance; else skeleton">
    <div class="grid mt-2">
      <div class="col-6 flex justify-content-start">
        <p-button
          label="Поповнити баланс"
          (onClick)="redirectToBank()"
          [pTooltip]="topUpTooltipMessage"
          tooltipPosition="bottom"
        ></p-button>
      </div>
      <div class="col-6 flex justify-content-end">
        <p-button
          data-cy="transactions-history-button"
          label="Історія транзакцій"
          [routerLink]="['/', 'dashboard', 'balance', 'transaction-history']"
        ></p-button>
      </div>
      <div class="col-12">
        <p-table
          class="block"
          [value]="balance.paymentTransactions | slice : 0 : 3"
          [rows]="3"
          [rowHover]="true"
        >
          <ng-template pTemplate="header">
            <tr
              class="p-selectable-row"
              [routerLink]="[
                '/',
                'dashboard',
                'balance',
                'transaction-history'
              ]"
            >
              <th>Сума</th>
              <th>Статус</th>
              <th>Дата</th>
              <th class="w-1">Замовлення</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transaction>
            <tr>
              <td
                data-cy="widget-transaction-amount"
                [class.text-green-600]="+transaction.amount > 0"
                [class.text-red-600]="+transaction.amount < 0"
                [class.text-yellow-600]="transaction.status === 'Pending'"
              >
                {{ transaction.amount | currency }}
              </td>
              <td>{{ transaction.status | transactionStatus }}</td>
              <td>{{ transaction.createdAt | date : 'short' }}</td>
              <td
                *ngIf="transaction.order.total; else noOrder"
                class="text-center"
              >
                <button
                  pButton
                  pTooltip="Натистіть для перегляду замовлення"
                  tooltipPosition="left"
                  icon="pi pi-arrow-up-right"
                  [routerLink]="[
                    '/',
                    'dashboard',
                    'orders',
                    transaction.order.number
                  ]"
                ></button>
              </td>
              <ng-template #noOrder><td></td></ng-template>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="3" class="text-center">Транзакції вісутні</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #skeleton>
  <div class="py-3 grid">
    <div class="col-6 pr-2 pb-0">
      <p-skeleton height="39px"></p-skeleton>
    </div>
    <div class="col-6 pl-2 pb-0">
      <p-skeleton height="39px"></p-skeleton>
    </div>
  </div>
  <div class="py-3">
    <p-skeleton height="6rem" width="30rem"></p-skeleton>
  </div>
</ng-template>
