<div class="card flex flex-col w-full">
  <div class="wrapper mb-4">
    <a
      [routerLink]="
        baseProductId
          ? [baseProductId, product.id?.toString()]
          : product.id?.toString()
      "
    >
      <app-image-component
        class="wrapper__img"
        [image]="primaryImageUrl"
      ></app-image-component>
      @if (product?.properties?.isPublished === false) {
      <div class="overlay">
        <p-tag
          class="published-tag"
          severity="danger"
          value="Не опублікований"
        ></p-tag>
      </div>
      }
    </a>
    @if (product?.stock !== undefined) {
    <app-stock-badge
      class="stock-badge"
      [value]="product!.stock"
    ></app-stock-badge>
    }
  </div>
  <ng-template #imageWrapperSkeleton>
    <p-skeleton height="15rem" width="100%"></p-skeleton>
  </ng-template>
  <div class="grow my-2">
    @if (product?.properties?.name) {
    <a
      [routerLink]="
        baseProductId
          ? [baseProductId, product.id.toString()]
          : product.id.toString()
      "
      class="text-surface-900 dark:text-surface-0 font-medium text-xl"
      data-cy="product-name"
    >
      {{ product.properties.name }}
    </a>
    } @else {
    <p-skeleton height="2rem" width="100%"></p-skeleton>
    }
  </div>
  <div class="my-4 flex justify-between">
    @if (product?.properties?.price) {
    <span class="font-bold text-surface-900 dark:text-surface-0" data-cy="product-price">{{
      product.properties.price | currency
    }}</span>
    } @else {
    <p-skeleton height="2rem" width="100%"></p-skeleton>
    } @if (product?.sku) {
    <span class="text-surface-600 dark:text-surface-200 text-base overflow-hidden w-24">{{
      product.sku
    }}</span>
    } @else {
    <p-skeleton height="2rem" width="100%"></p-skeleton>
    }
  </div>
  @if (!hideAddToCartButton) {
  <button
    pButton
    class="w-full"
    type="button"
    icon="pi pi-shopping-cart"
    iconPos="left"
    label="Додати в кошик"
    data-cy="product-add-to-cart-button"
    [disabled]="!product.stock"
    (click)="onAddToCart()"
  ></button>
  }
</div>
