<div class="p-2">
  <div class="wrapper mb-3">
    <img
      [src]="selectedImage"
      class="wrapper__img w-full"
    />
    <div class="colors my-2">
      <p-selectButton
        *ngIf="selectedColor"
        [options]="colors"
        [(ngModel)]="selectedColor"
        (onChange)="onVariantChange($event, 'color')"
        optionValue="code"
      >
        <ng-template let-color>
          <i class="pi pi-circle-fill" [style.color]="color.code"></i>
        </ng-template>
      </p-selectButton>
    </div>
  </div>
  <span class="text-900 font-medium text-xl">{{ selectedVariant?.name }}</span>
  <div class="my-2">
    <p-selectButton 
      *ngIf="selectedSize"
      [options]="sizes"
      [(ngModel)]="selectedSize"
      (onChange)="onVariantChange($event, 'size')"
      optionLabel="code"
      optionValue="code"
    ></p-selectButton>
  </div>
  <div class="my-4">
    <span class="font-bold text-900 ml-2" *ngIf="selectedVariant?.price">${{ selectedVariant?.price }}</span>
  </div>
  <button
    *ngIf="!hideAddToCartButton"
    pbutton=""
    pripple=""
    label="Add to Cart"
    icon="pi pi-shopping-cart"
    class="p-element p-ripple w-full p-button p-component"
  >
    <span
      class="p-button-icon p-button-icon-left pi pi-shopping-cart"
      aria-hidden="true"
    ></span>
    <span class="p-button-label">Add to Cart</span><span class="p-ink"></span>
  </button>
</div>
