<div class="card flex flex-column w-full">
  <div
    class="wrapper mb-3"
    *ngIf="
      selectedColorId !== undefined && selectedImage;
      else imageWrapperSkeleton
    "
  >
    <a [routerLink]="[product.id?.toString(), selectedVariant?.id?.toString()]">
      <img [src]="selectedImage" class="wrapper__img" />
      <div
        *ngIf="selectedVariant?.properties?.isPublished === false"
        class="overlay"
      >
        <p-tag
          class="published-tag"
          severity="danger"
          value="Не опублікований"
        ></p-tag>
      </div>
    </a>
    <div class="colors my-2">
      <p-selectButton
        [options]="colors"
        [(ngModel)]="selectedColorId"
        (onChange)="onVariantChange($event, 'color')"
        optionValue="id"
      >
        <ng-template let-color>
          <app-product-color-badge [color]="color"></app-product-color-badge>
        </ng-template>
      </p-selectButton>
    </div>
    <app-stock-badge
      *ngIf="selectedVariant?.stock !== undefined"
      class="stock-badge"
      [value]="selectedVariant!.stock"
    ></app-stock-badge>
  </div>
  <ng-template #imageWrapperSkeleton>
    <p-skeleton height="15rem" width="100%"></p-skeleton>
  </ng-template>
  <div class="flex-grow-1 my-2">
    <a
      *ngIf="selectedVariant?.properties?.name; else productNameSkeleton"
      [routerLink]="[product.id?.toString(), selectedVariant?.id?.toString()]"
      class="text-900 font-medium text-xl"
      data-cy="product-name"
    >
      {{ selectedVariant?.properties?.name }}
    </a>
  </div>
  <ng-template #productNameSkeleton>
    <p-skeleton height="2rem" width="100%"></p-skeleton>
  </ng-template>
  <div class="my-3 flex justify-content-between">
    <span
      *ngIf="selectedVariant?.properties?.price; else priceSkeleton"
      class="font-bold text-900"
      data-cy="product-price"
      >{{ selectedVariant?.properties?.price | currency }}</span
    >
    <span
      *ngIf="selectedVariant?.sku; else skuSkeleton"
      class="text-600 text-base"
      data-cy="product-sku"
      >{{ selectedVariant?.sku }}</span
    >
  </div>
  <ng-template #priceSkeleton>
    <p-skeleton height="2rem" width="100%"></p-skeleton>
  </ng-template>
  <ng-template #skuSkeleton>
    <p-skeleton height="2rem" width="100%"></p-skeleton>
  </ng-template>
  <div class="my-3">
    <p-selectButton
      *ngIf="selectedSizeId !== undefined; else sizeSkeleton"
      [options]="sizes"
      [(ngModel)]="selectedSizeId"
      (onChange)="onVariantChange($event, 'size')"
      optionValue="id"
    >
      <ng-template let-size>
        <span class="w-full text-center">
          {{ size | productSize : 'short' }}
        </span>
      </ng-template>
    </p-selectButton>
  </div>
  <ng-template #sizeSkeleton>
    <p-skeleton height="2rem" width="100%"></p-skeleton>
  </ng-template>
  <button
    *ngIf="!hideAddToCartButton"
    pButton
    class="w-full"
    type="button"
    icon="pi pi-shopping-cart"
    iconPos="left"
    label="Додати в кошик"
    data-cy="product-add-to-cart-button"
    [disabled]="!selectedVariant?.stock"
    (click)="onAddToCart()"
  ></button>
</div>
