<div
  class="flex flex-col md:flex-row py-1 border-t border-b border-surface md:items-center"
>
  <a
    [routerLink]="[
      '../../..',
      'products',
      requestedItem.orderItem.product.baseProduct.id,
      requestedItem.orderItem.product.id
    ]"
  >
    <img
      [src]="
        requestedItem.orderItem.productProperties.images
          ? requestedItem.orderItem.productProperties.images[0]?.url
          : ''
      "
      class="w-16 h-16 shrink-0 mx-auto md:mx-0"
    />
  </a>
  <div class="flex-auto py-1 md:pl-2">
    <div
      class="flex flex-wrap items-start sm:items-center sm:flex-row sm:justify-between border-surface"
    >
      <div class="w-full sm:w-6/12 flex flex-col">
        <a
          [routerLink]="[
            '../../..',
            'products',
            requestedItem.orderItem.product.baseProduct.id,
            requestedItem.orderItem.product.id
          ]"
          class="text-surface-900 text-l font-medium mb-2"
        >
          {{ requestedItem.orderItem.productProperties.name }}
        </a>
        <span class="text-surface-600">{{
          requestedItem.orderItem.product.sku
        }}</span>
      </div>
      <div
        class="w-full sm:w-6/12 flex items-start justify-between mt-4 sm:mt-0 pl-8"
      >
        <div class="p-fluid sm:w-40">
          <div>Запит на: {{ requestedItem.quantity }} шт.</div>
          @if (approvedItem) {
          <div
            [class.text-red-600]="
              requestedItem.quantity > approvedItem.quantity
            "
          >
            Підтверджено: {{ approvedItem.quantity }} шт.
          </div>
          }
        </div>
        <div class="flex flex-col sm:items-end">
          <span class="text-surface-900 text-xl font-medium mb-1 sm:mb-2">
            @if (approvedItem) {
            {{
              approvedItem.orderItem!.productProperties.price *
                approvedItem.quantity! | currency
            }}
            } @else {
            {{
              requestedItem.orderItem!.productProperties.price *
                requestedItem.quantity! | currency
            }}
            }
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
