<div
  class="flex flex-column md:flex-row py-1 border-top-1 border-bottom-1 surface-border md:align-items-center"
>
  <a
    [routerLink]="[
      '../../..',
      'products',
      requestedItem.orderItem.product.baseProduct.id,
      requestedItem.orderItem.product.id
    ]"
  >
    <img
      [src]="
        requestedItem.orderItem.productProperties.images
          ? requestedItem.orderItem.productProperties.images[0]?.url
          : ''
      "
      class="w-4rem h-4rem flex-shrink-0 mx-auto md:mx-0"
    />
  </a>
  <div class="flex-auto py-1 md:pl-2">
    <div
      class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border"
    >
      <div class="w-full sm:w-6 flex flex-column">
        <a
          [routerLink]="[
            '../../..',
            'products',
            requestedItem.orderItem.product.baseProduct.id,
            requestedItem.orderItem.product.id
          ]"
          class="text-900 text-l font-medium mb-2"
        >
          {{ requestedItem.orderItem.productProperties.name }}
        </a>
        <span class="text-600">{{ requestedItem.orderItem.product.sku }}</span>
      </div>
      <div
        class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0 pl-5"
      >
        <div class="p-fluid sm:w-10rem">
          <div>Запит на: {{ requestedItem.quantity }} шт.</div>
          <div
            *ngIf="approvedItem"
            [class.text-red-600]="
              requestedItem.quantity > approvedItem.quantity
            "
          >
            Підтверджено: {{ approvedItem.quantity }} шт.
          </div>
        </div>
        <div class="flex flex-column sm:align-items-end">
          <span class="text-900 text-xl font-medium mb-1 sm:mb-2">
            <ng-container *ngIf="approvedItem; else requestedItemPrice">
              {{
                approvedItem.orderItem!.productProperties.price *
                  approvedItem.quantity! | currency
              }}
            </ng-container>
            <ng-template #requestedItemPrice>
              {{
                requestedItem.orderItem!.productProperties.price *
                  requestedItem.quantity! | currency
              }}
            </ng-template>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
