<div class="request-view grid" data-cy="request-view-page">
  <div class="col-12">
    <div class="card request-view__content">
      <div *ngIf="request$ | async as request">
        <h4 class="flex align-items-center">
          <span>Повернення №{{ request.number }}</span>
        </h4>
        <div class="my-5">
          <h5>Товари</h5>
          <app-return-request-item-list
            [orderReturnRequest]="request.returnRequest!"
          ></app-return-request-item-list>
          <div class="flex justify-content-end my-4">
            <table>
              <tr *ngIf="request.returnRequest!.deduction > 0">
                <td>Відрахування:</td>
                <td class="pl-5">
                  -{{ request.returnRequest!.deduction | currency }}
                </td>
              </tr>
              <tr>
                <td class="text-xl text-900 font-bold text-3xl">Всього:</td>
                <td class="text-xl text-900 font-bold text-3xl pl-5">
                  {{ request.returnRequest!.total | currency }}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div
          *ngIf="request.managerComment || request.managerImages.length !== 0"
          class="my-5"
        >
          <ul class="striped-list">
            <li class="striped-list__item">
              <div class="striped-list__item-key align-self-baseline">
                Коментар менеджера
              </div>
              <div class="striped-list__item-value">
                <div class="mb-2">{{ request.managerComment }}</div>
                <div class="flex">
                  <p-image
                    *ngFor="let image of request.managerImages"
                    class="mr-2"
                    [src]="image.url"
                    [preview]="true"
                    width="80"
                  ></p-image>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="grid">
          <div class="col-12 xl:col-6">
            <h5>Дані запиту</h5>
            <ul class="striped-list">
              <li class="striped-list__item">
                <div class="striped-list__item-key">Дата</div>
                <div class="striped-list__item-value">
                  {{ request.createdAt | date : 'short' }}
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key">Статус</div>
                <div class="striped-list__item-value">
                  <app-request-status-badge
                    [status]="request.returnRequest!.status"
                  ></app-request-status-badge>
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key">Замовлення</div>
                <div class="striped-list__item-value">
                  <a
                    [routerLink]="[
                      '/dashboard',
                      'orders',
                      request.returnRequest!.order.number
                    ]"
                    >{{ request.returnRequest!.order.number }}
                  </a>
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key align-self-baseline">
                  Коментар до запиту
                </div>
                <div class="striped-list__item-value">
                  <div class="mb-2">{{ request.customerComment }}</div>
                  <div class="flex">
                    <p-image
                      *ngFor="let image of request.customerImages"
                      class="mr-2"
                      [src]="image.url"
                      [preview]="true"
                      width="80"
                    ></p-image>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 xl:col-6">
            <h5>Дані доставки</h5>
            <ul class="striped-list">
              <li class="striped-list__item">
                <div class="striped-list__item-key">Служба доставки</div>
                <div class="striped-list__item-value">
                  <app-delivery-service-badge
                    *ngIf="
                      request.returnRequest!.delivery
                        .deliveryService as deliveryService
                    "
                    [deliveryService]="deliveryService"
                  ></app-delivery-service-badge>
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key">Статус доставки</div>
                <div class="striped-list__item-value">
                  <app-return-request-delivery-status-badge
                    [status]="request.returnRequest!.delivery.status!"
                  ></app-return-request-delivery-status-badge>
                </div>
              </li>
              <li
                *ngIf="!('update' | able : request.returnRequest)"
                class="striped-list__item"
              >
                <div class="striped-list__item-key">Номер ТТН</div>
                <div class="striped-list__item-value">
                  {{ request.returnRequest!.delivery.trackingId }}
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key">Експрес-накладна</div>
                <div class="striped-list__item-value">
                  <ng-container
                    *ngIf="
                      request.returnRequest!.delivery.waybill?.url as url;
                      else noWaybill
                    "
                  >
                    <p-button
                      icon="pi pi-eye"
                      label="Переглянути ТТН"
                      data-cy="order-waybill-view-button"
                      (click)="showWaybillViewDialogHandler()"
                    ></p-button>
                    <p-dialog
                      [header]="
                        'Товарно-транспортна накладна (запит №' +
                        request.number +
                        ')'
                      "
                      [(visible)]="showWaybillViewDialog"
                      [modal]="true"
                      [style]="{ width: '80vw' }"
                      [draggable]="false"
                      [resizable]="false"
                    >
                      <ngx-doc-viewer
                        [url]="url"
                        viewer="pdf"
                        style="width: 100%; height: 70vh"
                      ></ngx-doc-viewer>
                    </p-dialog>
                  </ng-container>
                  <ng-template #noWaybill>
                    <span>—</span>
                  </ng-template>
                </div>
              </li>
              <li
                *ngIf="'update' | able : request.returnRequest"
                class="striped-list__item"
              >
                <div class="striped-list__item-key"></div>
                <form
                  [formGroup]="updateWaybillForm"
                  class="striped-list__item-value"
                >
                  <div class="p-fluid">
                    <div class="formgrid grid">
                      <div class="field col-12">
                        <label for="tracking-id">Номер ТТН:</label>
                        <input
                          id="tracking-id"
                          pInputText
                          formControlName="trackingId"
                        />
                        <app-form-control-error-message
                          [formGroup]="updateWaybillForm"
                          controlName="trackingId"
                          errorType="required"
                          errorMessage="Потрібно ввести номер ТТН"
                        ></app-form-control-error-message>
                        <app-form-control-error-message
                          [formGroup]="updateWaybillForm"
                          controlName="trackingId"
                          errorType="alphanumeric"
                          errorMessage="Номер ТТН повинен містити тільки літери та цифри"
                        ></app-form-control-error-message>
                      </div>
                    </div>
                  </div>
                  <div class="formgrid grid">
                    <div class="field col-12">
                      <label for="tracking-id">Експрес-накладна:</label>
                      <p-fileUpload
                        #waybillUpload
                        data-cy="order-waybill-upload"
                        [accept]="fileFormats"
                        [customUpload]="true"
                        [auto]="true"
                        [maxFileSize]="1000000"
                        [disabled]="(waybillSubmitting$ | async)!"
                        (uploadHandler)="onWaybillUpload($event.files)"
                        (onRemove)="onWaybillRemove()"
                      >
                      </p-fileUpload>
                    </div>
                  </div>
                  <button
                    (click)="updateWaybill()"
                    pButton
                    label="Оновини дані доставки"
                    [disabled]="waybillSubmitting$ | async"
                  ></button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
