<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/images/logo.svg" alt="logo" />
  </a>

  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <!-- <button
      class="p-link layout-topbar-button"
      (click)="notifications.toggle($event)"
    >
      <i class="pi pi-bell"></i>
      <span class="topbar-button-text">Notifications</span>
    </button>
    <p-overlayPanel #overlayPanel #notifications>
      <ng-template pTemplate>Сповіщення</ng-template>
    </p-overlayPanel> -->

    <button
      class="p-link layout-topbar-button"
      (click)="account.toggle($event)"
    >
      <i class="pi pi-user"></i>
      <span class="topbar-button-text">Акаунт</span>
    </button>
    <p-overlayPanel #overlayPanel #account>
      <ng-template pTemplate>
        <div class="layout-menu-dropdown">
          <button
            pButton
            pRipple
            type="button"
            label="Акаунт"
            class="p-button-text"
            routerLink="account"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            label="Вийти"
            class="p-button-text"
            (click)="logout()"
          ></button>
        </div>
      </ng-template>
    </p-overlayPanel>
  </div>
</div>
