<div class="request-view grid grid-cols-12 gap-4" data-cy="request-view-page">
  <div class="col-span-12">
    <div class="card request-view__content">
      @if (request$ | async; as request) {
      <div>
        <h4 class="flex items-center">
          <span>Виведення коштів №{{ request.number }}</span>
        </h4>
        @if ( 'approve' | able : request.fundsWithdrawalRequest) {
        <form [formGroup]="fundsWithdrawalRequestForm" class="formgrid grid grid-cols-12 gap-4">
          <div class="p-fluid field col-span-12 xl:col-span-6">
            <label for="managerComment">Коментар:</label>
            <textarea
              rows="5"
              cols="30"
              id="managerComment"
              pInputTextarea
              [autoResize]="true"
              formControlName="managerComment"
            ></textarea>
            <app-form-control-error-message
              [formGroup]="fundsWithdrawalRequestForm"
              controlName="managerComment"
              errorType="required"
              errorMessage="Потрібно вказати причину відхилення запиту"
            >
            </app-form-control-error-message>
          </div>
          <div class="field col-span-12 xl:col-span-6">
            <label for="receipt">Документ:</label>
            <p-fileUpload
              [accept]="'.pdf'"
              [customUpload]="true"
              [auto]="true"
              [maxFileSize]="1000000"
              [disabled]="submitting"
              [multiple]="true"
              (uploadHandler)="onReceiptUpload($event.files)"
              (onRemove)="onReceiptRemove()"
            >
            </p-fileUpload>
            <app-form-control-error-message
              [formGroup]="fundsWithdrawalRequestForm"
              controlName="receipt"
              errorType="required"
              errorMessage="Потрібно завантажити фото документа що підтверджує повернення коштів"
            >
            </app-form-control-error-message>
          </div>
        </form>
        <div class="grid grid-cols-12 gap-4 mb-8">
          <div class="col-span-12">
            <div class="flex justify-end">
              <p-button
                icon="pi pi-check"
                label="Підтвердити"
                [disabled]="submitting"
                (click)="confirmOrRejectToggle(action.Approve)"
              ></p-button>
              <p-button
                icon="pi pi-times"
                label="Відхилити"
                styleClass="p-button-danger"
                class="ml-4"
                [disabled]="submitting"
                (click)="confirmOrRejectToggle(action.Reject)"
              ></p-button>
              <p-confirmDialog
                rejectButtonStyleClass="p-button-outlined p-button-secondary"
                [acceptButtonStyleClass]="acceptButtonStyleClass"
                [header]="confirmRejectHeader"
              ></p-confirmDialog>
            </div>
          </div>
        </div>
        } @else { @if ( request.managerComment ||
        request.fundsWithdrawalRequest!.fundsWithdrawalReceipt?.url ) {
        <ul class="striped-list my-8">
          @if (request.managerComment) {
          <li class="striped-list__item">
            <div class="striped-list__item-key self-baseline">
              Коментар менеджера
            </div>
            <div class="striped-list__item-value">
              <div class="mb-2">{{ request.managerComment }}</div>
            </div>
          </li>
          } @if ( request.fundsWithdrawalRequest!.fundsWithdrawalReceipt ?.url;
          as url ) {
          <li class="striped-list__item">
            <div class="striped-list__item-key self-baseline">
              Документ
            </div>
            <div class="striped-list__item-value">
              <p-button
                icon="pi pi-eye"
                label="Переглянути документ"
                (click)="showReceiptViewDialogHandler()"
              ></p-button>
              <p-dialog
                [header]="'Документ (запит №' + request.number + ')'"
                [(visible)]="showReceiptViewDialog"
                [modal]="true"
                [style]="{ width: '80vw' }"
                [draggable]="false"
                [resizable]="false"
              >
                <ngx-doc-viewer
                  [url]="url"
                  viewer="pdf"
                  style="width: 100%; height: 70vh"
                ></ngx-doc-viewer>
              </p-dialog>
            </div>
          </li>
          }
        </ul>
        } }
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 xl:col-span-6">
            <h5>Дані запиту</h5>
            <ul class="striped-list">
              <li class="striped-list__item">
                <div class="striped-list__item-key">Дата</div>
                <div class="striped-list__item-value">
                  {{ request.createdAt | date : 'short' }}
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key">Статус</div>
                <div class="striped-list__item-value">
                  <app-request-status-badge
                    [status]="request.fundsWithdrawalRequest!.status"
                  ></app-request-status-badge>
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key self-baseline">
                  Сума
                </div>
                <div class="striped-list__item-value">
                  <div class="mb-2">
                    {{ request.fundsWithdrawalRequest!.amount | currency }}
                  </div>
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key self-baseline">
                  Коментар до запиту
                </div>
                <div class="striped-list__item-value">
                  <div class="mb-2">{{ request.customerComment || '—' }}</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-span-12 xl:col-span-6">
            <h5>Дані дропшипера</h5>
            <ul class="striped-list">
              <li class="striped-list__item">
                <div class="striped-list__item-key">ПІБ</div>
                <div class="striped-list__item-value">
                  <a [routerLink]="['/admin', 'users', request.customer.id]">
                    {{ request.customer.fullName }}
                  </a>
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key">Номер телефону</div>
                <div class="striped-list__item-value">
                  @if ( request.customer.phoneNumber; as phoneNumber) {
                  {{ phoneNumber | phoneNumber }}
                  } @else { - }
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
