.sign-up {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;

  img {
    margin-bottom: 20px;
  }
}

.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 30px 50px;
  position: relative;
  max-width: 100%;
  width: 800px;

  &-title {
    margin-bottom: 20px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__progress-bar {
    position: absolute;
    border: 0.5rem solid #fff;
    bottom: 100%;
    width: 100%;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }

  a {
    text-decoration: none;
  }
}
