.gallery-image,
.gallery-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image {
  height: 500px;
}

.gallery-thumbnail {
  max-height: 120px;
}

.published-tag {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

:host ::ng-deep {
  .p-galleria .p-galleria-thumbnail-container {
    background-color: transparent;
  }

  .p-galleria .p-galleria-item-nav,
  .p-galleria .p-galleria-item-nav:not(.p-disabled):hover,
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.2);
  }

  .colors {
    .color-circle {
      font-size: 2rem;
    }

    .p-selectbutton {
      display: flex;

      .p-button {
        border: 0;
        border-radius: 50% !important;
        flex: none;
        padding: 0.3rem;

        & + .p-button {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;

  &__item {
    & + & {
      margin-left: 0.5rem;
    }

    &:last-child {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
