<div
  class="flex flex-col md:flex-row py-2 border-t border-b border-surface md:items-center"
>
  <a
    [routerLink]="[
      '/dashboard',
      'products',
      cartItem.product.baseProduct.id,
      cartItem.product.id
    ]"
  >
    <img
      [src]="
        cartItem.product.properties.images
          ? cartItem.product.properties.images[0]?.url
          : ''
      "
      class="w-48 h-48 shrink-0 mx-auto md:mx-0"
    />
  </a>
  <div class="flex-auto py-8 md:pl-8">
    <div
      class="flex flex-wrap items-start sm:items-center sm:flex-row sm:justify-between border-surface"
    >
      <div class="w-full sm:w-6/12 flex flex-col">
        <a
          [routerLink]="[
            '/dashboard',
            'products',
            cartItem.product.baseProduct.id,
            cartItem.product.id
          ]"
          class="text-surface-900 text-xl font-medium mb-4"
        >
          {{ cartItem.product.properties.name }}
        </a>
        <span class="text-surface-600">{{ cartItem.product.sku }}</span>
      </div>
      <div
        class="w-full sm:w-6/12 flex items-start justify-between mt-4 sm:mt-0 pl-8"
      >
        <div class="p-fluid sm:w-24">
          <form [formGroup]="quantityForm">
            <p-inputNumber
              mode="decimal"
              formControlName="quantity"
              [showButtons]="true"
              [min]="1"
            ></p-inputNumber>
          </form>
          <app-stock-badge
            class="inline-flex mt-2"
            [value]="cartItem.product.stock"
          ></app-stock-badge>
        </div>
        <div class="flex flex-col sm:items-end">
          <span class="text-surface-900 text-2xl font-medium mb-1 sm:mb-2">
            @if ((updating$ | async) === 0) {
            {{
              cartItem.product.properties.price * cartItem.quantity | currency
            }}
            <div class="text-surface-600 text-base">
              {{ cartItem.product.properties.price | currency }} / од.
            </div>
            } @else {
            <p-skeleton height="1.75rem" width="5rem"></p-skeleton>
            }
          </span>
          <a
            (click)="removeCartItem()"
            tabindex="0"
            class="cursor-pointer text-pink-500 font-medium hover:text-pink-600 transition-colors duration-300"
          >
            Видалити
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
