<div class="freezed-page-wrapper">
  <a routerLink="/">
    <img
      class="confirm-page-wrapper-logo"
      src="assets/images/logo.svg"
      alt="logo"
    />
  </a>
  <h1>Ваш аккаутн тимчасово призупинено</h1>
  <p>
    Для уточнення причин ви можете зв'язатися з нами за контактами вказаними
    нижче
  </p>
  <p><strong>Номери телефонів:</strong></p>
  <div>+380 67 123 45 67</div>
  <div>+380 67 123 45 76</div>
  <p class="mt-3"><strong>Електронні пошти:</strong></p>
  <div>test@gmail.com</div>

  <a class="btn btn-primary mt-4" [routerLink]="['/', 'auth', 'sign-in']"
    >Перейти на сторінку входу</a
  >
</div>
