<div class="freezed-page">
  <a routerLink="/">
    <img src="assets/images/logo.svg" alt="logo" />
  </a>
  <div class="freezed-page__wrapper">
    <h2>Ваш аккаунт тимчасово призупинено</h2>
    <p>
      Для уточнення причин ви можете зв'язатися з нами за контактами вказаними
      нижче:
    </p>
    <p>
      <strong>Номери телефонів:</strong> <br />
      +38 (067) 334-72-13 <br />
      +38 (067) 334-72-11 <br />
    </p>
    <p class="mt-3">
      <strong>Електронна пошта:</strong> <br />
      sales&#64;hvoya.com
    </p>
    <a class="btn btn-primary mt-4" [routerLink]="['/', 'auth', 'sign-in']">
      Перейти на сторінку входу
    </a>
  </div>
</div>
