<p-table
  [value]="tableRows()"
  styleClass="p-datatable-sm"
  [tableStyle]="{ 'min-width': '20rem' }"
>
  <ng-template #header>
    <tr>
      @for (title of columnTitles(); track $index) {
        <th>{{ title }}</th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-rowNode>
    <tr>
      @for (cellNode of getCellNodes(rowNode); track $index) {
        <td>
          <ng-container a2ui-renderer [surfaceId]="surfaceId() ?? ''" [component]="cellNode" />
        </td>
      }
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="columnTitles().length || 1" class="text-center text-muted-color">
        Немає даних
      </td>
    </tr>
  </ng-template>
</p-table>
