<form
  [formGroup]="filtersForm"
  class="p-fluid formgrid grid justify-content-end"
>
  <div class="col-fixed">
    <div class="field">
      <label>Період:</label>
      <p-calendar
        formControlName="range"
        selectionMode="range"
        appendTo="body"
        placeholder="Період"
      ></p-calendar>
    </div>
  </div>
</form>

<p-chart
  *ngIf="!loading; else skeleton"
  type="bar"
  [data]="data"
  [options]="options"
></p-chart>

<ng-template #skeleton>
  <div class="flex justify-content-between align-items-center">
    <p-skeleton height="200px" class="skeleton w-full"></p-skeleton>
  </div>
</ng-template>
