<form
  [formGroup]="filtersForm"
  class="p-fluid formgrid grid justify-content-end"
>
  <div class="col-fixed">
    <div class="field">
      <label>Період:</label>
      <p-datepicker
        formControlName="range"
        selectionMode="range"
        appendTo="body"
        placeholder="Період"
      ></p-datepicker>
    </div>
  </div>
</form>

@if (!loading) {
<p-chart type="bar" [data]="data" [options]="options"></p-chart>
} @else {
<div class="flex justify-content-between align-items-center">
  <p-skeleton height="200px" class="skeleton w-full"></p-skeleton>
</div>
}
