<div class="layout-wrapper" [ngClass]="containerClass">
  <app-topbar>
    <ng-content select="[topbar-menu]"></ng-content>
  </app-topbar>
  <div class="layout-sidebar">
    <app-sidebar class="layout-sidebar-inner" [menuItems]="sidebarMenuItems">
      <ng-content select="[sidebar-appendix]"></ng-content>
    </app-sidebar>
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <!-- <app-config></app-config> -->
  <div class="layout-mask"></div>
</div>
