.sidebar {
  background-color: var(--surface-ground);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    flex-grow: 1;
    background-color: var(--surface-overlay);
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
      0px 1px 4px rgba(0, 0, 0, 0.08);
  }

  &__appendix {
    flex: auto;
    overflow: auto;
    display: flex;
  }
}
