<div class="text-900 text-xl pb-3 border-bottom-1 surface-border">
  Your Cart
</div>
<ng-container *ngIf="cart$ | async as cart; else skeleton">
  <ul class="list-none p-0 m-0 max-h-15rem overflow-y-auto">
    <ng-container *ngFor="let cartItem of cart.cartItems">
      <li class="flex py-3 align-items-center">
        <img [src]="" class="w-4rem h-4rem flex-shrink-0 shadow-1" />
        <div class="pl-3 mr-8">
          <span class="text-900 font-medium">{{ cartItem.product.name }}</span>
          <div class="text-600 mt-2">{{ cartItem.product.sku }}</div>
        </div>
        <div class="text-900 font-medium ml-auto">
          ${{ cartItem.product.price }}
        </div>
      </li>
    </ng-container>
  </ul>
  <div class="py-3 border-bottom-1 surface-border">
    <div class="flex align-items-center justify-content-between mb-3">
      <span class="text-900 font-medium">
        Total <span class="text-600 text-sm font-normal">incl. VAT</span>
      </span>
      <div class="text-900 font-medium">${{ cart.total }}</div>
    </div>
    <div class="h-2rem w-full surface-200">
      <div
        class="w-9 bg-pink-500 h-full text-white font-medium text-sm flex align-items-center p-3"
      >
        $16 away from free shipping
      </div>
    </div>
  </div>
  <div class="py-3 flex align-items-center p-fluid">
    <button
      pButton
      class="p-button-outlined mr-2"
      type="button"
      label="View Cart"
    ></button>
    <button pButton class="ml-2" type="button" label="Check Out"></button>
  </div>
</ng-container>

<ng-template #skeleton>
  <div class="py-3">
    <p-skeleton height="4rem" width="252px"></p-skeleton>
  </div>
  <div class="py-3">
    <p-skeleton height="4rem"></p-skeleton>
  </div>
  <div class="py-3 border-bottom-1 surface-border">
    <div class="mb-3">
      <p-skeleton height="16px"></p-skeleton>
    </div>
    <p-skeleton height="2rem"></p-skeleton>
  </div>
  <div class="py-3 grid">
    <div class="col-6 pr-2 pb-0">
      <p-skeleton height="39px"></p-skeleton>
    </div>
    <div class="col-6 pl-2 pb-0">
      <p-skeleton height="39px"></p-skeleton>
    </div>
  </div>
</ng-template>
