<div class="grid" data-cy="order-view-page">
  <div class="col-12">
    <div class="card">
      <div *ngIf="order$ | async as order">
        <h4 class="flex align-items-center">
          <span>Замовлення №{{ order.id }}</span>
          <form
            [formGroup]="updateOrderStatusForm"
            class="flex align-items-center ml-5"
          >
            <ng-container *ngIf="!statusEdit; else statusEditView">
              <app-order-status-badge
                data-cy="order-status-current"
                [status]="order.status"
              ></app-order-status-badge>
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-sm p-button-link ml-1"
                data-cy="order-status-edit-button"
                (click)="statusEdit = true"
              ></button>
            </ng-container>
            <ng-template #statusEditView>
              <p-dropdown
                formControlName="orderStatus"
                placeholder="Статус"
                data-cy="order-status-edit-dropdown"
                [options]="orderStatuses"
                (onChange)="updateStatus()"
              >
                <ng-template let-selected pTemplate="selectedItem">
                  <app-order-status-badge
                    [status]="selected.label"
                  ></app-order-status-badge>
                </ng-template>
                <ng-template let-option pTemplate="item">
                  <app-order-status-badge
                    [status]="option.label"
                  ></app-order-status-badge>
                </ng-template>
              </p-dropdown>
              <button
                pButton
                type="button"
                icon="pi pi-times"
                class="ml-2"
                (click)="statusEdit = false"
                [disabled]="statusSubmitting$ | async"
              ></button>
            </ng-template>
          </form>
        </h4>
        <div class="my-5">
          <ul class="striped-list">
            <li class="striped-list__item">
              <div class="striped-list__item-key">Дата</div>
              <div class="striped-list__item-value">
                {{ order.createdAt | date : 'short' }}
              </div>
            </li>
          </ul>
        </div>
        <div class="my-5">
          <h5>Дані дропшипера</h5>
          <ul class="striped-list">
            <li class="striped-list__item">
              <div class="striped-list__item-key">ПІБ</div>
              <div class="striped-list__item-value">
                {{ order.customer.fullName }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Номер телефону</div>
              <div class="striped-list__item-value">
                <ng-container
                  *ngIf="
                    order.customer.phoneNumber as phoneNumber;
                    else emptyPhoneNumber
                  "
                  >{{ phoneNumber | phoneNumber }}</ng-container
                >
                <ng-template #emptyPhoneNumber>-</ng-template>
              </div>
            </li>
          </ul>
        </div>
        <div class="my-5">
          <h5>Дані доставки</h5>
          <ul class="striped-list">
            <li class="striped-list__item">
              <div class="striped-list__item-key">Служба доставки</div>
              <div class="striped-list__item-value">
                <app-delivery-service-badge
                  *ngIf="order.delivery.deliveryService as deliveryService"
                  [deliveryService]="deliveryService"
                ></app-delivery-service-badge>
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Статус доставки</div>
              <div class="striped-list__item-value">
                <app-order-delivery-status-badge
                  [status]="order.delivery.status"
                ></app-order-delivery-status-badge>
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Маркування (PDF)</div>
              <div class="striped-list__item-value">
                <ng-container
                  *ngIf="order.delivery.waybill?.url as url; else noWaybill"
                >
                  <p-button
                    icon="pi pi-eye"
                    label="Переглянути ТТН"
                    data-cy="order-waybill-view-button"
                    (click)="showWaybillViewDialogHandler()"
                  ></p-button>
                  <p-dialog
                    [header]="
                      'Товарно-транспортна накладна (замовлення №' +
                      order.id +
                      ')'
                    "
                    [(visible)]="showWaybillViewDialog"
                    [modal]="true"
                    [style]="{ width: '80vw' }"
                    [draggable]="false"
                    [resizable]="false"
                  >
                    <ngx-doc-viewer
                      [url]="url"
                      viewer="pdf"
                      style="width: 100%; height: 70vh"
                    ></ngx-doc-viewer>
                  </p-dialog>
                </ng-container>
                <ng-template #noWaybill>
                  <span>—</span>
                </ng-template>
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key"></div>
              <form
                [formGroup]="updateWaybillForm"
                class="striped-list__item-value"
              >
                <div class="p-fluid">
                  <div class="p-formgrid grid">
                    <div class="field col-6">
                      <label for="tracking-id">Номер ТТН:</label>
                      <input
                        id="tracking-id"
                        pInputText
                        formControlName="trackingId"
                      />
                      <app-form-control-error-message
                        [formGroup]="updateWaybillForm"
                        controlName="trackingId"
                        errorType="required"
                        errorMessage="Потрібно ввести номер ТТН"
                      ></app-form-control-error-message>
                    </div>
                  </div>
                </div>
                <div class="p-formgrid grid">
                  <div class="field col-12 md:col-6">
                    <label for="tracking-id">Файл маркування:</label>
                    <p-fileUpload
                      #waybillUpload
                      data-cy="order-waybill-upload"
                      [accept]="fileFormats"
                      [customUpload]="true"
                      [auto]="true"
                      [maxFileSize]="1000000"
                      [disabled]="(waybillSubmitting$ | async)!"
                      (uploadHandler)="onFileUpload($event)"
                    >
                    </p-fileUpload>
                  </div>
                </div>
                <button
                  (click)="updateWaybill()"
                  pButton
                  label="Оновини дані ТТН"
                  [disabled]="waybillSubmitting$ | async"
                ></button>
              </form>
            </li>
          </ul>
        </div>
        <div>
          <h5>Товари</h5>
          <app-order-view-item
            *ngFor="let orderItem of order.items"
            [orderItem]="orderItem"
          ></app-order-view-item>
          <div class="flex">
            <div class="w-12rem hidden md:block"></div>
            <div class="md:pl-5 mt-2 flex-auto">
              <div class="flex justify-content-end mb-4 pt-4">
                <span class="text-xl text-900 font-bold text-3xl">Сума:</span>
                <span class="text-xl text-900 font-bold text-3xl ml-5">
                  {{ order.total | currency }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
