<div *ngIf="order$ | async as order" data-cy="order-view-page">
  <p-messages *ngIf="order.returnRequest as returnRequest" severity="warn">
    <ng-template pTemplate>
      <div class="flex align-items-center">
        <i class="pi mr-2" [ngClass]="ICONS.ORDER_RETURN_REQUEST"></i>
        <span class="vertical-align-middle">
          Запит на повернення
          <a
            [routerLink]="[
              '/admin/requests/return-requests',
              returnRequest.request!.number
            ]"
          >
            №{{ returnRequest.request!.number }}
          </a>
        </span>
        <app-request-status-badge
          class="ml-5"
          [status]="returnRequest.status"
        ></app-request-status-badge>
      </div>
    </ng-template>
  </p-messages>
  <div class="order-view grid">
    <div class="col-12">
      <div class="card order-view__content">
        <h4 class="flex align-items-center">
          <span>Замовлення №{{ order.number }}</span>
        </h4>
        <div class="my-5">
          <ul class="striped-list">
            <li class="striped-list__item">
              <div class="striped-list__item-key">Статус</div>
              <div class="striped-list__item-value order-view__status-column">
                <div class="py-2 mr-5">
                  <div class="flex align-items-center mb-1">
                    <span class="mr-3">
                      <u>
                        {{ order.currentStatus.createdAt | date : 'short' }}
                      </u>
                    </span>
                    <app-order-status-badge
                      data-cy="order-status-current"
                      [status]="order.currentStatus.status"
                    ></app-order-status-badge>
                  </div>
                  <div *ngIf="order.currentStatus.comment">
                    <b>Коментар:</b> {{ order.currentStatus.comment }}
                  </div>
                  <div *ngIf="order.currentStatus.createdBy">
                    <b>Оновлено:</b>
                    {{ order.currentStatus.createdBy.fullName }}
                  </div>
                </div>
                <button
                  pButton
                  type="button"
                  class="p-button-sm flex-none"
                  data-cy="order-status-edit-button"
                  (click)="showOrderStatusDialog = true"
                >
                  Оновити статус
                </button>
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Нотатка</div>
              <div class="striped-list__item-value">
                <form class="p-fluid" [formGroup]="orderNoteForm">
                  <p-progressBar
                    class="order-view__note-progress-bar"
                    mode="indeterminate"
                    [class.visible]="isNoteSaving"
                    [style]="{ height: '4px' }"
                  ></p-progressBar>
                  <textarea
                    rows="5"
                    cols="30"
                    pInputTextarea
                    [autoResize]="true"
                    formControlName="managerNote"
                  ></textarea>
                </form>
              </div>
            </li>
            <li
              class="striped-list__item"
              [class.highlight]="!!order.customerNote"
            >
              <div class="striped-list__item-key">Коментар до замовлення</div>
              <div class="striped-list__item-value">
                {{ order.customerNote || '—' }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Дата</div>
              <div class="striped-list__item-value">
                {{ order.createdAt | date : 'short' }}
              </div>
            </li>
          </ul>
        </div>
        <div class="grid">
          <div class="col-12 xl:col-6">
            <h5>Дані дропшипера</h5>
            <ul class="striped-list">
              <li class="striped-list__item">
                <div class="striped-list__item-key">ПІБ</div>
                <div class="striped-list__item-value">
                  <a [routerLink]="['/admin', 'users', order.customer.id]">
                    {{ order.customer.fullName }}
                  </a>
                </div>
              </li>
              <li class="striped-list__item">
                <div class="striped-list__item-key">Номер телефону</div>
                <div class="striped-list__item-value">
                  <ng-container
                    *ngIf="
                      order.customer.phoneNumber as phoneNumber;
                      else emptyPhoneNumber
                    "
                    >{{ phoneNumber | phoneNumber }}</ng-container
                  >
                  <ng-template #emptyPhoneNumber>-</ng-template>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 xl:col-6">
            <h5>Дані доставки</h5>
            <ul class="striped-list">
              <li class="striped-list__item">
                <div class="striped-list__item-key">Служба доставки</div>
                <div class="striped-list__item-value">
                  <app-delivery-service-badge
                    *ngIf="order.delivery.deliveryService as deliveryService"
                    [deliveryService]="deliveryService"
                  ></app-delivery-service-badge>
                </div>
              </li>
              <li
                *ngIf="
                  order.delivery.deliveryService !== DeliveryService.SelfPickup
                "
                class="striped-list__item"
              >
                <div class="striped-list__item-key">Статус доставки</div>
                <div class="striped-list__item-value">
                  <div class="py-2 mr-5">
                    <div class="flex align-items-center mb-1">
                      <span class="mr-3">
                        <u>
                          {{ order.delivery.updatedAt | date : 'short' }}
                        </u>
                      </span>
                      <app-order-delivery-status-badge
                        [status]="order.delivery.status"
                      ></app-order-delivery-status-badge>
                    </div>
                    <div *ngIf="order.delivery.rawStatus">
                      <b>Повний статус:</b> {{ order.delivery.rawStatus }}
                    </div>
                  </div>
                </div>
              </li>
              <li *ngIf="!('update' | able : order)" class="striped-list__item">
                <div class="striped-list__item-key">Номер ТТН</div>
                <div class="striped-list__item-value">
                  {{ order.delivery.trackingId }}
                </div>
              </li>
              <li
                *ngIf="
                  order.delivery.deliveryService !== DeliveryService.SelfPickup
                "
                class="striped-list__item"
              >
                <div class="striped-list__item-key">Маркування (PDF)</div>
                <div class="striped-list__item-value">
                  <ng-container
                    *ngIf="order.delivery.waybill?.url as url; else noWaybill"
                  >
                    <p-button
                      icon="pi pi-eye"
                      label="Переглянути ТТН"
                      data-cy="order-waybill-view-button"
                      (click)="showWaybillViewDialogHandler()"
                    ></p-button>
                    <p-dialog
                      [header]="
                        'Товарно-транспортна накладна (замовлення №' +
                        order.number +
                        ')'
                      "
                      [(visible)]="showWaybillViewDialog"
                      [modal]="true"
                      [style]="{ width: '80vw' }"
                      [draggable]="false"
                      [resizable]="false"
                    >
                      <ngx-doc-viewer
                        [url]="url"
                        viewer="pdf"
                        style="width: 100%; height: 70vh"
                      ></ngx-doc-viewer>
                    </p-dialog>
                  </ng-container>
                  <ng-template #noWaybill>
                    <span>—</span>
                  </ng-template>
                </div>
              </li>
              <li *ngIf="'update' | able : order" class="striped-list__item">
                <div class="striped-list__item-key"></div>
                <form
                  [formGroup]="updateWaybillForm"
                  class="striped-list__item-value"
                >
                  <div class="p-fluid">
                    <div class="formgrid grid">
                      <div class="field col-12">
                        <label for="delivery-service">Служба доставки:</label>
                        <p-dropdown
                          id="delivery-service"
                          [options]="deliveryServices"
                          formControlName="deliveryService"
                        >
                          <ng-template let-selected pTemplate="selectedItem">
                            <app-delivery-service-badge
                              *ngIf="selected as deliveryService"
                              mode="short"
                              [withText]="true"
                              [deliveryService]="deliveryService"
                            ></app-delivery-service-badge>
                          </ng-template>
                          <ng-template let-option pTemplate="item">
                            <app-delivery-service-badge
                              *ngIf="option as deliveryService"
                              mode="short"
                              [withText]="true"
                              [deliveryService]="deliveryService"
                            ></app-delivery-service-badge>
                          </ng-template>
                        </p-dropdown>
                        <app-form-control-error-message
                          [formGroup]="updateWaybillForm"
                          controlName="deliveryService"
                          errorType="required"
                          errorMessage="Це є обов'язковим полем"
                        ></app-form-control-error-message>
                      </div>
                      <div *ngIf="!isSelfPickup" class="field col-12">
                        <label for="tracking-id">Номер ТТН:</label>
                        <input
                          id="tracking-id"
                          pInputText
                          formControlName="trackingId"
                        />
                        <app-form-control-error-message
                          [formGroup]="updateWaybillForm"
                          controlName="trackingId"
                          errorType="required"
                          errorMessage="Потрібно ввести номер ТТН"
                        ></app-form-control-error-message>
                        <app-form-control-error-message
                          [formGroup]="updateWaybillForm"
                          controlName="trackingId"
                          errorType="alphanumeric"
                          errorMessage="Номер ТТН повинен містити тільки літери та цифри"
                        ></app-form-control-error-message>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isSelfPickup" class="formgrid grid">
                    <div class="field col-12">
                      <label for="tracking-id">Файл маркування:</label>
                      <p-fileUpload
                        #waybillUpload
                        data-cy="order-waybill-upload"
                        [accept]="fileFormats"
                        [customUpload]="true"
                        [auto]="true"
                        [maxFileSize]="1000000"
                        [disabled]="(waybillSubmitting$ | async)!"
                        (uploadHandler)="onFileUpload($event)"
                      >
                      </p-fileUpload>
                      <app-form-control-error-message
                        [formGroup]="updateWaybillForm"
                        controlName="waybill"
                        errorType="required"
                        errorMessage="Це є обов'язковим полем"
                      ></app-form-control-error-message>
                    </div>
                  </div>
                  <button
                    (click)="updateWaybill()"
                    pButton
                    label="Оновини дані доставки"
                    [disabled]="waybillSubmitting$ | async"
                  ></button>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h5>Товари</h5>
          <app-order-view-item
            *ngFor="let orderItem of order.items"
            [orderItem]="orderItem"
          ></app-order-view-item>
          <div class="flex">
            <div class="w-12rem hidden md:block"></div>
            <div class="md:pl-5 mt-2 flex-auto">
              <div class="flex justify-content-end mb-4 pt-4">
                <span class="text-xl text-900 font-bold text-3xl">Всього:</span>
                <span class="text-xl text-900 font-bold text-3xl ml-5">
                  {{ order.total | currency }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="showOrderStatusDialog"
  [style]="{ width: '600px' }"
  header="Статус замовлення"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="updateOrderStatusForm" class="flex align-items-center">
      <div class="formgrid w-full">
        <div class="field">
          <label for="delivery-service">Статус:</label>
          <p-dropdown
            formControlName="orderStatus"
            placeholder="Статус"
            data-cy="order-status-edit-dropdown"
            [options]="orderStatuses"
          >
            <ng-template let-selected pTemplate="selectedItem">
              <app-order-status-badge
                [status]="selected.label"
              ></app-order-status-badge>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <app-order-status-badge
                [status]="option.label"
              ></app-order-status-badge>
            </ng-template>
          </p-dropdown>
          <app-form-control-error-message
            [formGroup]="updateOrderStatusForm"
            controlName="orderStatus"
            errorType="required"
            errorMessage="Це є обов'язковим полем"
          ></app-form-control-error-message>
        </div>
        <div class="field">
          <label for="delivery-service">Коментар:</label>
          <textarea
            formControlName="orderStatusComment"
            pInputTextarea
            placeholder="Коментар"
            rows="5"
            data-cy="order-status-edit-comment"
          ></textarea>
          <app-form-control-error-message
            [formGroup]="updateOrderStatusForm"
            controlName="orderStatusComment"
            errorType="required"
            errorMessage="Для зміни на даний статус потрібно вказати причину"
          ></app-form-control-error-message>
        </div>
      </div>
    </form>
    <div *ngIf="order$ | async as order" class="mt-5">
      <h5>Історія статусів:</h5>
      <div class="statuses-history">
        <div
          *ngFor="let status of order.statuses"
          class="statuses-history__item"
        >
          <div class="flex align-items-center mb-1">
            <span class="mr-3">
              <u>
                {{ status.createdAt | date : 'short' }}
              </u>
            </span>
            <app-order-status-badge
              [status]="status.status"
            ></app-order-status-badge>
          </div>
          <div *ngIf="status.comment">
            <b>Коментар:</b> {{ status.comment }}
          </div>
          <div *ngIf="status.createdBy">
            <b>Оновлено:</b> {{ status.createdBy.fullName }}
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      class="p-button-outlined p-button-secondary"
      label="Відмінити"
      icon="pi pi-times"
      data-cy="order-status-edit-cancel"
      (click)="hideOrderStatusDialog()"
    ></button>
    <button
      pButton
      label="Зберегти"
      icon="pi pi-check"
      data-cy="order-status-edit-submit"
      [disabled]="statusSubmitting$ | async"
      (click)="saveOrderStatus()"
    ></button>
  </ng-template>
</p-dialog>
