.order-view {
  &__status-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    position: relative;
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.statuses-history {
  border: 1px solid var(--surface-300);
  max-height: 400px;
  overflow-y: auto;
  padding: 1rem;

  &__item {
    padding: 1rem 0;

    & + & {
      border-top: 1px dashed var(--surface-300);
    }
  }
}

:host ::ng-deep {
  .p-message {
    margin: 0 0 1rem 0;
  }
}
