<div
  class="flex flex-col md:flex-row py-1 border-t border-b border-surface md:items-center"
>
  <a
    [routerLink]="[
      '../..',
      'products',
      orderItem.product.baseProduct.id,
      orderItem.product.id
    ]"
  >
    <img
      [src]="
        orderItem.productProperties.images
          ? orderItem.productProperties.images[0]?.url
          : ''
      "
      class="w-16 h-16 shrink-0 mx-auto md:mx-0"
    />
  </a>
  <div class="flex-auto py-1 md:pl-2">
    <div
      class="flex flex-wrap items-start sm:items-center sm:flex-row sm:justify-between border-surface"
    >
      <div class="w-full sm:w-6/12 flex flex-col">
        <a
          [routerLink]="[
            '../..',
            'products',
            orderItem.product.baseProduct.id,
            orderItem.product.id
          ]"
          class="text-surface-900 text-l font-medium mb-2"
        >
          {{ orderItem.productProperties.name }}
        </a>
        <span class="text-surface-600">{{ orderItem.product.sku }}</span>
      </div>
      <div
        class="w-full sm:w-4/12 flex items-start justify-between mt-4 sm:mt-0 pl-8"
      >
        <div class="p-fluid sm:w-24">К-ть: {{ orderItem.quantity }}</div>
        <div class="flex flex-col sm:items-end">
          <span class="text-surface-900 text-xl font-medium mb-1 sm:mb-2">
            {{
              orderItem.productProperties.price * orderItem.quantity | currency
            }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
