<p-table
  #usersTable
  dataKey="id"
  currentPageReportTemplate="Показано {first} до {last} з {totalRecords} користувачів"
  sortField="netWorth"
  [value]="(userDataPage$ | async)?.data || []"
  [rowHover]="true"
  [loading]="loading$ | async"
  [totalRecords]="(userDataPage$ | async)?.meta?.itemCount || 0"
  [sortOrder]="-1"
  [rows]="rows"
  [showCurrentPageReport]="true"
  [paginator]="true"
  [lazy]="true"
  (onLazyLoad)="onLazyLoad($event)"
>
  <ng-template pTemplate="loadingicon"></ng-template>
  <ng-template pTemplate="loadingbody">
    <ng-container *ngFor="let _ of [].constructor(rows)">
      <tr>
        <td><p-skeleton height="16px" width="200px"></p-skeleton></td>
        <td><p-skeleton height="16px" width="40px"></p-skeleton></td>
        <td><p-skeleton height="16px" width="170px"></p-skeleton></td>
        <td><p-skeleton height="16px" width="80px"></p-skeleton></td>
      </tr>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="caption">
    <div class="table-header flex justify-content-between align-items-center">
      Дропшипери
      <form class="p-fluid formgrid grid" [formGroup]="filtersForm">
        <div class="col">
          <div class="field">
            <label for="dateRange">Тип:</label>
            <p-dropdown
              [options]="dateRangeTypeOptions"
              formControlName="dateRangeType"
              optionValue="value"
            ></p-dropdown>
            <app-form-control-error-message
              [formGroup]="filtersForm"
              controlName="dateRangeType"
            />
          </div>
        </div>
        @switch (dateRangeType$ | async) { @case ('year') {
        <div class="col">
          <div class="field">
            <label for="year">Рік:</label>
            <p-dropdown
              [options]="yearOptions"
              formControlName="year"
              optionValue="value"
            ></p-dropdown>
            <app-form-control-error-message
              [formGroup]="filtersForm"
              controlName="year"
            />
          </div>
        </div>
        } @case ('custom') {
        <div class="col">
          <div class="field">
            <label for="range">Період:</label>
            <p-calendar
              formControlName="range"
              selectionMode="range"
              appendTo="body"
              placeholder="Період"
            ></p-calendar>
            <!-- (onSelect)="filter($event)"
              (onClear)="filter($event)" -->
            <app-form-control-error-message
              [formGroup]="filtersForm"
              controlName="from"
            />
          </div>
        </div>
        } @default {} }
      </form>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="lastName">
        <div class="flex justify-content-between align-items-center">
          ПІБ
          <p-sortIcon field="lastName"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="ordersCount">
        <div class="flex justify-content-between align-items-center">
          К-ть замовлень
          <p-sortIcon field="ordersCount"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="ordersTotalSum">
        <div class="flex justify-content-between align-items-center">
          Сума по замовленнях
          <p-sortIcon field="ordersTotalSum"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="netWorth">
        <div class="flex justify-content-between align-items-center">
          Капітал
          <p-sortIcon field="netWorth"></p-sortIcon>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-userData>
    @if (!(loading$ | async)) {
    <tr
      class="p-selectable-row"
      [routerLink]="['/admin', 'users', userData.id]"
    >
      <td>
        <span class="p-column-title">ПІБ</span>
        {{ userData.lastName }} {{ userData.firstName }}
      </td>
      <td>
        <span class="p-column-title">К-ть замовлень</span>
        {{ userData.ordersCount }}
      </td>
      <td>
        <span class="p-column-title">Сума по замовленнях</span>
        {{ userData.ordersTotalSum | currency }}
      </td>
      <td>
        <span class="p-column-title">Капітал</span>
        {{ userData.netWorth | currency }}
      </td>
    </tr>
    }
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="9">Даних немає</td>
    </tr>
  </ng-template>
</p-table>
