<div
  class="flex flex-column md:flex-row py-2 border-top-1 border-bottom-1 surface-border md:align-items-center"
>
  <img
    [src]="
      requestItem.orderItem.productProperties.images
        ? requestItem.orderItem.productProperties.images[0]?.url
        : ''
    "
    class="w-12rem h-12rem flex-shrink-0 mx-auto md:mx-0"
  />
  <div class="flex-auto py-5 md:pl-5">
    <div
      class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border"
    >
      <div class="w-full sm:w-6 flex flex-column">
        <div class="text-900 text-xl font-medium mb-3">
          {{ requestItem.orderItem.productProperties.name }}
        </div>
        <span class="text-600">{{ requestItem.orderItem.product.sku }}</span>
      </div>
      <div
        class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0 pl-5"
      >
        <div class="p-fluid sm:w-6rem">
          <form [formGroup]="quantityForm">
            <p-inputNumber
              mode="decimal"
              formControlName="quantity"
              [showButtons]="true"
              [max]="maxQuantity"
              [min]="0"
            ></p-inputNumber>
          </form>
        </div>
        <div class="flex flex-column sm:align-items-end">
          <span class="text-900 text-2xl font-medium mb-1 sm:mb-2">
            <ng-container *ngIf="(updating$ | async) === 0; else priceSkeleton">
              {{
                requestItem.orderItem.productProperties.price *
                  requestItem.quantity | currency
              }}
              <div class="text-600 text-base">
                {{ requestItem.orderItem.productProperties.price | currency }}
                / од.
              </div>
            </ng-container>
            <ng-template #priceSkeleton>
              <p-skeleton height="1.75rem" width="5rem"></p-skeleton>
            </ng-template>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
