<div
  class="flex flex-col md:flex-row py-2 border-t border-b border-surface md:items-center"
>
  <img
    [src]="
      requestItem.orderItem.productProperties.images
        ? requestItem.orderItem.productProperties.images[0]?.url
        : ''
    "
    class="w-48 h-48 shrink-0 mx-auto md:mx-0"
  />
  <div class="flex-auto py-8 md:pl-8">
    <div
      class="flex flex-wrap items-start sm:items-center sm:flex-row sm:justify-between border-surface"
    >
      <div class="w-full sm:w-6/12 flex flex-col">
        <div class="text-surface-900 dark:text-surface-0 text-xl font-medium mb-4">
          {{ requestItem.orderItem.productProperties.name }}
        </div>
        <span class="text-surface-600 dark:text-surface-200">{{ requestItem.orderItem.product.sku }}</span>
      </div>
      <div
        class="w-full sm:w-6/12 flex items-start justify-between mt-4 sm:mt-0 pl-8"
      >
        <div class="p-fluid sm:w-24">
          <form [formGroup]="quantityForm">
            <p-inputNumber
              mode="decimal"
              formControlName="quantity"
              [showButtons]="true"
              [max]="maxQuantity"
              [min]="0"
            ></p-inputNumber>
          </form>
        </div>
        <div class="flex flex-col sm:items-end">
          <span class="text-surface-900 dark:text-surface-0 text-2xl font-medium mb-1 sm:mb-2">
            @if ((updating$ | async) === 0) {
            {{
              requestItem.orderItem.productProperties.price *
                requestItem.quantity | currency
            }}
            <div class="text-surface-600 dark:text-surface-200 text-base">
              {{ requestItem.orderItem.productProperties.price | currency }}
              / од.
            </div>
            } @else {
            <p-skeleton height="1.75rem" width="5rem"></p-skeleton>
            }
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
