<form
  class="p-fluid"
  [formGroup]="updateProfileForm"
  (ngSubmit)="onSubmit(updateProfileForm.value)"
>
  <h5>Персональні дані</h5>
  <div class="field">
    <label for="phone-number">Номер телефону:</label>
    <p-inputMask
      inputId="phone-number"
      formControlName="phoneNumber"
      mask="+38 (999) 999-9999"
      slotChar=" "
      [unmask]="true"
      [autoClear]="false"
    ></p-inputMask>
  </div>
  <div class="field">
    <label for="first-name">Ім'я:</label>
    <input id="first-name" pInputText formControlName="firstName" />
  </div>
  <div class="field">
    <label for="last-name">Прізвище:</label>
    <input id="last-name" pInputText formControlName="lastName" />
  </div>
  <div class="field">
    <label for="location">Місцезнаходження:</label>
    <input
      id="location"
      pInputText
      pKeyFilter="alpha"
      formControlName="location"
    />
  </div>
  <div class="field">
    <label for="about">Про себе::</label>
    <textarea
      id="about"
      pInputTextarea
      [rows]="5"
      [autoResize]="true"
      formControlName="bio"
    ></textarea>
  </div>
  <button
    pButton
    type="submit"
    label="Зберегти"
    [disabled]="isLoading"
  ></button>
</form>
