<form
  class="p-fluid"
  [formGroup]="updateProfileForm"
  (ngSubmit)="onSubmit(updateProfileForm.value)"
>
  <h5>Персональні дані</h5>

  <div class="field">
    <label for="phoneNumber">Номер договору:</label>
    <span class="p-input-icon-right">
      <input
        [value]="accountNumber"
        type="text"
        pInputText
        readonly
        (click)="copyAccountNumber()"
      />
      <i [ngClass]="accountNumberCopied ? 'pi pi-check' : 'pi pi-copy'"></i>
    </span>
  </div>
  <div class="field">
    <label for="phoneNumber">Номер телефону:</label>
    <p-inputMask
      name="phoneNumber"
      inputId="phoneNumber"
      formControlName="phoneNumber"
      mask="+38 (999) 999-9999"
      slotChar=" "
      [unmask]="true"
      [autoClear]="false"
      placeholder="Введіть номер телефону"
      data-cy="phone-number"
    ></p-inputMask>
    <app-form-control-error-message
      [formGroup]="updateProfileForm"
      controlName="phoneNumber"
      errorType="required"
      errorMessage="Потрібно ввести номер телефону"
    >
    </app-form-control-error-message>
  </div>
  <div class="field">
    <label for="lastName">Прізвище:</label>
    <input
      id="lastName"
      name="lastName"
      formControlName="lastName"
      type="text"
      pInputText
      placeholder="Введіть прізвище"
      data-cy="last-name"
    />
    <app-form-control-error-message
      [formGroup]="updateProfileForm"
      controlName="lastName"
      errorType="required"
      errorMessage="Потрібно ввести прізвище"
    >
    </app-form-control-error-message>
  </div>
  <div class="field">
    <label for="firstName">Ім'я:</label>
    <input
      id="firstName"
      name="firstName"
      formControlName="firstName"
      type="text"
      pInputText
      placeholder="Введіть ваше ім'я"
      data-cy="first-name"
    />
    <app-form-control-error-message
      [formGroup]="updateProfileForm"
      controlName="firstName"
      errorType="required"
      errorMessage="Потрібно ввести ім'я"
    >
    </app-form-control-error-message>
  </div>
  <div class="field">
    <label for="middleName">По батькові:</label>
    <input
      id="middleName"
      name="middleName"
      formControlName="middleName"
      type="text"
      pInputText
      placeholder="Введіть ваші по батькові"
      data-cy="middle-name"
    />
    <app-form-control-error-message
      [formGroup]="updateProfileForm"
      controlName="middleName"
      errorType="required"
      errorMessage="Потрібно ввести ваше по батькові"
    >
    </app-form-control-error-message>
  </div>
  <div class="field">
    <label for="location">Місцезнаходження:</label>
    <input
      id="location"
      pInputText
      pKeyFilter="alpha"
      formControlName="location"
      data-cy="location"
    />
    <app-form-control-error-message
      [formGroup]="updateProfileForm"
      controlName="location"
      errorType="required"
      errorMessage="Потрібно ввести місцезнаходження"
    >
    </app-form-control-error-message>
  </div>
  <div class="field">
    <label for="website">Веб-сайт або сторінка у соц. мережі:</label>
    <input
      id="website"
      name="website"
      formControlName="website"
      type="text"
      pInputText
      placeholder="Веб-сайт/соціальна мережа"
      data-cy="website"
    />
    <app-form-control-error-message
      [formGroup]="updateProfileForm"
      controlName="website"
      errorType="required"
      errorMessage="Потрібно ввести посилання на веб-сайт або сторінку у соціальній мережі"
    >
    </app-form-control-error-message>
  </div>
  <div class="field">
    <label for="bio">Про себе:</label>
    <textarea
      id="bio"
      pInputTextarea
      [rows]="5"
      [autoResize]="true"
      formControlName="bio"
      data-cy="bio"
    ></textarea>
    <app-form-control-error-message
      [formGroup]="updateProfileForm"
      controlName="bio"
      errorType="required"
      errorMessage="Потрібно ввести опис"
    >
    </app-form-control-error-message>
  </div>
  <button
    pButton
    type="submit"
    label="Зберегти"
    data-cy="submit"
    [disabled]="isLoading"
  ></button>
</form>
