@if (postsPage$ | async; as postsPage) { @if (postsPage.data.length > 0) {
<div class="posts-widget">
  <h5 class="posts-widget__title">Новини</h5>
  <div class="posts-widget__list">
    @for (post of postsPage.data; track post) {
    <div class="post">
      <div class="post__body" [innerHTML]="post.body | safeHtml"></div>
      <small>
        {{ post.updatedAt | date : 'short' }}
        @if (!post.isPublished) {
        <span class="text-red-500">(Не опубліковано)</span>
        }
      </small>
    </div>
    }
  </div>
</div>
} }
