:host {
  display: flex;
}

.posts-widget {
  $padding: 1rem;

  background-color: var(--surface-0);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  margin-top: 3rem;
  margin-bottom: 1rem;

  &__title {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    padding: $padding $padding calc($padding / 2);
    margin-bottom: 0;
  }

  &__list {
    overflow: auto;
    padding: calc($padding / 2) $padding $padding;
  }
}

.post {
  font-size: 0.95rem;

  & + & {
    margin-top: 1rem;
  }

  small {
    display: inline-block;
    color: var(--surface-600);
    margin-top: 0.5rem;
  }
}

:host ::ng-deep {
  .post {
    &__body {
      * {
        line-height: 1;
      }
    }
  }
}
