<div class="card transfer">
  @if (submitting) {
  <p-progressBar
    class="transfer__progress"
    mode="indeterminate"
    [style]="{ height: '4px' }"
  ></p-progressBar>
  }
  <form [formGroup]="importForm" (ngSubmit)="onImportSubmit()">
    <h5>Імпорт продуктів</h5>
    <div class="mt-4 flex flex-col gap-5">
      <div class="flex flex-col gap-2">
        <label for="import-source" class="font-medium">Джерело імпорту:</label>
        <p-select
          fluid
          id="import-source"
          [options]="importSources"
          formControlName="source"
          optionValue="value"
        ></p-select>
        <app-form-control-error-message
          [formGroup]="importForm"
          controlName="source"
          errorType="required"
          errorMessage="Необхідно обрати джерело імпорту"
        ></app-form-control-error-message>
      </div>
      <div class="flex flex-col gap-2">
        <label class="font-medium">Тип джерела:</label>
        <p-selectButton
          formControlName="sourceType"
          [options]="importSourceTypes"
        ></p-selectButton>
      </div>
      @if (sourceType?.value === importSourceTypeEnum.Link) {
      <div class="flex flex-col gap-2">
        <label for="link" class="font-medium">Посилання:</label>
        <input id="link" pInputText fluid formControlName="link" />
        <app-form-control-error-message
          [formGroup]="importForm"
          controlName="link"
          errorType="required"
          errorMessage="Необхідно ввести посилання"
        ></app-form-control-error-message>
      </div>
      } @if (sourceType?.value === importSourceTypeEnum.File) {
      <div class="flex flex-col gap-2">
        <label class="font-medium">Файл (XML/XLS):</label>
        <app-file-upload
          accept=".xml, .xls, .xlsx"
          variant="file"
          [customUpload]="true"
          [auto]="true"
          [maxFileSize]="10000000"
          [disabled]="file!.disabled"
          (uploadHandler)="onFileUpload($event)"
        ></app-file-upload>
        <app-form-control-error-message
          [formGroup]="importForm"
          controlName="file"
          errorType="required"
          errorMessage="Необхідно вибрати файл"
        ></app-form-control-error-message>
      </div>
      }
      <button
        pButton
        class="self-start"
        type="submit"
        label="Імпортувати"
        [disabled]="submitting"
      ></button>
    </div>
  </form>
</div>
