<div class="p-fluid">
  <div class="field">
    <label for="email">Ел. пошта:</label>
    <input
      id="email"
      [value]="(profile$ | async)?.email"
      pInputText
      [readOnly]="true"
      [disabled]="true"
    />
  </div>
</div>

<form
  class="p-fluid"
  [formGroup]="changePasswordForm"
  (ngSubmit)="onChangePasswordSubmit(changePasswordForm.value)"
>
  <h5>Змінити пароль</h5>
  <div class="field">
    <label for="current-password">Поточний пароль:</label>
    <p-password
      inputId="current-password"
      formControlName="currentPassword"
      [toggleMask]="true"
      [feedback]="false"
    ></p-password>
  </div>
  <div class="field">
    <label for="password">Новий пароль:</label>
    <p-password
      inputId="password"
      formControlName="password"
      [toggleMask]="true"
    >
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Requirements</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li [ngClass]="{ valid: !hasLowerCase }">
            At least one lowercase
            <i class="pi pi-check" *ngIf="!hasLowerCase"></i>
          </li>
          <li [ngClass]="{ valid: !hasUpperCase }">
            At least one uppercase
            <i class="pi pi-check" *ngIf="!hasUpperCase"></i>
          </li>
          <li [ngClass]="{ valid: !hasNumeric }">
            At least one numeric
            <i class="pi pi-check" *ngIf="!hasNumeric"></i>
          </li>
          <li [ngClass]="{ valid: !hasMinLength }">
            Minimum 8 characters
            <i class="pi pi-check" *ngIf="!hasMinLength"></i>
          </li>
        </ul>
      </ng-template>
    </p-password>
  </div>
  <div class="field">
    <label for="confirm-password">Підтвердити новий пароль:</label>
    <p-password
      formControlName="confirmPassword"
      inputId="confirm-password"
      [toggleMask]="true"
      [feedback]="false"
    ></p-password>
  </div>
  <button
    pButton
    type="submit"
    label="Зберегти"
    [disabled]="isLoading"
  ></button>
</form>
