<div class="flex flex-col gap-1 mb-4">
  <label for="email">Ел. пошта:</label>
  <input
    class="w-full"
    id="email"
    [value]="(profile$ | async)?.email"
    pInputText
    [readOnly]="true"
    [disabled]="true"
  />
</div>

<form
  class="flex flex-col gap-4"
  [formGroup]="changePasswordForm"
  (ngSubmit)="onChangePasswordSubmit(changePasswordForm.value)"
>
  <h5>Змінити пароль</h5>
  <div class="flex flex-col gap-1">
    <label for="current-password">Поточний пароль:</label>
    <p-password
      fluid
      inputId="current-password"
      formControlName="currentPassword"
      [toggleMask]="true"
      [feedback]="false"
    ></p-password>
    <app-form-control-error-message
      [formGroup]="changePasswordForm"
      controlName="currentPassword"
      errorType="required"
      errorMessage="Потрібно ввести поточний пароль"
    >
    </app-form-control-error-message>
  </div>
  <div class="flex flex-col gap-1">
    <label for="password">Новий пароль:</label>
    <p-password
      fluid
      inputId="password"
      formControlName="password"
      [toggleMask]="true"
    >
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Вимоги до паролю</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li [ngClass]="{ valid: !hasLowerCase }">
            Хоча б одна мала літера @if (!hasLowerCase) {
            <i class="pi pi-check"></i>
            }
          </li>
          <li [ngClass]="{ valid: !hasUpperCase }">
            Хоча б одна велика літера @if (!hasUpperCase) {
            <i class="pi pi-check"></i>
            }
          </li>
          <li [ngClass]="{ valid: !hasNumeric }">
            Хоча б одна цифра @if (!hasNumeric) {
            <i class="pi pi-check"></i>
            }
          </li>
          <li [ngClass]="{ valid: !hasMinLength }">
            Не менше 8 символів @if (!hasMinLength) {
            <i class="pi pi-check"></i>
            }
          </li>
        </ul>
      </ng-template>
    </p-password>
    <app-form-control-error-message
      [formGroup]="changePasswordForm"
      controlName="password"
      errorType="required"
      errorMessage="Потрібно ввести пароль"
    >
    </app-form-control-error-message>
  </div>
  <div class="flex flex-col gap-1">
    <label for="confirm-password">Підтвердити новий пароль:</label>
    <p-password
      fluid
      formControlName="confirmPassword"
      inputId="confirm-password"
      [toggleMask]="true"
      [feedback]="false"
    ></p-password>
    <app-form-control-error-message
      [formGroup]="changePasswordForm"
      controlName="confirmPassword"
      errorType="required"
      errorMessage="Потрібно підтвердити пароль"
    >
    </app-form-control-error-message>
    <app-form-control-error-message
      [formGroup]="changePasswordForm"
      controlName="confirmPassword"
      errorType="mismatch"
      errorMessage="Паролі не збігаються"
    >
    </app-form-control-error-message>
  </div>
  <button
    pButton
    type="submit"
    label="Зберегти"
    data-cy="submit"
    [disabled]="isLoading"
  ></button>
</form>
