<div class="reset-password">
  <a routerLink="/">
    <img src="assets/images/logo.svg" alt="logo" />
  </a>
  <div class="reset-password__wrapper">
    <div class="reset-password__title">
      <h3>Зміна паролю</h3>
    </div>
    <form
      class="flex w-full flex-col gap-6"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit(resetPasswordForm.value)"
    >
      <div class="grid grid-cols-1 gap-4">
        <div class="flex flex-col gap-1.5">
          <label for="reset-password-password">Новий пароль</label>
          <p-password
            fluid
            name="password"
            formControlName="password"
            inputId="reset-password-password"
            [toggleMask]="true"
            placeholder="Введіть пароль"
            data-cy="password"
          >
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Вимоги до паролю</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li [ngClass]="{ valid: !hasLowerCase }">
                  Хоча б одна мала літера @if (!hasLowerCase) {
                  <i class="pi pi-check"></i>
                  }
                </li>
                <li [ngClass]="{ valid: !hasUpperCase }">
                  Хоча б одна велика літера @if (!hasUpperCase) {
                  <i class="pi pi-check"></i>
                  }
                </li>
                <li [ngClass]="{ valid: !hasNumeric }">
                  Хоча б одна цифра @if (!hasNumeric) {
                  <i class="pi pi-check"></i>
                  }
                </li>
                <li [ngClass]="{ valid: !hasMinLength }">
                  Не менше 8 символів @if (!hasMinLength) {
                  <i class="pi pi-check"></i>
                  }
                </li>
              </ul>
            </ng-template>
          </p-password>
          <app-form-control-error-message
            [formGroup]="resetPasswordForm"
            controlName="password"
            errorType="required"
            errorMessage="Потрібно ввести пароль"
          >
          </app-form-control-error-message>
        </div>
        <div class="flex flex-col gap-1.5">
          <label for="reset-password-confirm-password">
            Підтвердіть новий пароль
          </label>
          <p-password
            fluid
            name="confirmPassword"
            formControlName="confirmPassword"
            inputId="reset-password-confirm-password"
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Підтвердіть пароль"
            data-cy="confirm-password"
          >
          </p-password>
          <app-form-control-error-message
            [formGroup]="resetPasswordForm"
            controlName="confirmPassword"
            errorType="required"
            errorMessage="Потрібно підтвердити пароль"
          >
          </app-form-control-error-message>
          <app-form-control-error-message
            [formGroup]="resetPasswordForm"
            controlName="confirmPassword"
            errorType="mismatch"
            errorMessage="Паролі не збігаються"
          >
          </app-form-control-error-message>
        </div>
      </div>
      <button
        class="w-full"
        [disabled]="isLoading"
        type="submit"
        pButton
        label="Змінити"
      ></button>
    </form>
  </div>
</div>
