<div class="confirm-password-wrapper">
    <form class="confirm-password-wrapper-form" [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmit(confirmPasswordForm.value)">
        <span class="p-float-label confirm-password-wrapper-element">
            <p-password name="password" formControlName="password" id="float-input-invalid" [toggleMask]="true">
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Requirements</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li [ngClass]="{'valid': !hasLowerCase}">At least one lowercase <i class="pi pi-check" *ngIf="!hasLowerCase"></i></li>
                        <li [ngClass]="{'valid': !hasUpperCase}">At least one uppercase <i class="pi pi-check" *ngIf="!hasUpperCase"></i></li>
                        <li [ngClass]="{'valid': !hasNumeric}">At least one numeric <i class="pi pi-check" *ngIf="!hasNumeric"></i></li>
                        <li [ngClass]="{'valid': !hasMinLength}">Minimum 8 characters <i class="pi pi-check" *ngIf="!hasMinLength"></i></li>
                    </ul>
                </ng-template>
            </p-password>
            <label for="float-input-invalid">New password</label>
        </span>
        <span class="p-float-label confirm-password-wrapper-element">
            <p-password name="confirmPassword" formControlName="confirmPassword" id="float-input-invalid" 
                [toggleMask]="true" [feedback]="false">
            </p-password>
            <label for="float-input-invalid">Confirm new password</label>
        </span>
        <div class="confirm-password-wrapper-confirm-secttion">
            <button [disabled]="!confirmPasswordForm.valid" type="submit" pButton label="Confirm"></button>
        </div>
    </form>
</div>