.confirm-password-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-element {
        margin: 15px;

        li {
            font-size: 12px;
        }

        .valid {
            color: green;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    &-confirm-secttion {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
}