<div class="confirm-password-wrapper">
  <h3>Відновити пароль</h3>
  <form
    class="confirm-password-wrapper-form"
    [formGroup]="confirmPasswordForm"
    (ngSubmit)="onSubmit(confirmPasswordForm.value)"
  >
    <span class="p-float-label confirm-password-wrapper-element">
      <p-password
        name="password"
        formControlName="password"
        id="float-input-invalid"
        [toggleMask]="true"
      >
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Вимоги</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li [ngClass]="{ valid: !hasLowerCase }">
              Хоча б одна мала літера
              <i class="pi pi-check" *ngIf="!hasLowerCase"></i>
            </li>
            <li [ngClass]="{ valid: !hasUpperCase }">
              Хоча б одна велика літера
              <i class="pi pi-check" *ngIf="!hasUpperCase"></i>
            </li>
            <li [ngClass]="{ valid: !hasNumeric }">
              Хоча б одна цифра
              <i class="pi pi-check" *ngIf="!hasNumeric"></i>
            </li>
            <li [ngClass]="{ valid: !hasMinLength }">
              Як мінімум 8 символів
              <i class="pi pi-check" *ngIf="!hasMinLength"></i>
            </li>
          </ul>
        </ng-template>
      </p-password>
      <label for="float-input-invalid">Новий пароль</label>
    </span>
    <span class="p-float-label confirm-password-wrapper-element">
      <p-password
        name="confirmPassword"
        formControlName="confirmPassword"
        id="float-input-invalid"
        [toggleMask]="true"
        [feedback]="false"
      >
      </p-password>
      <label for="float-input-invalid">Підтвердити новий пароль</label>
    </span>
    <div class="confirm-password-wrapper-confirm-secttion">
      <button
        [disabled]="!confirmPasswordForm.valid"
        type="submit"
        pButton
        label="Підтвердити"
      ></button>
    </div>
  </form>
</div>

<p-dialog
  [(visible)]="displayConfirmDialog"
  [dismissableMask]="true"
  [modal]="true"
  class="reset-password-confirm-dialog"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p>
    Пароль успішно змінено. Ви будете перенаправлені на сторінку входу через
    декілька секунд.
  </p>
  <a [routerLink]="['/', 'auth', 'sign-in']">Перейти на сторінку входу</a>
</p-dialog>
