<div class="reset-password">
  <img src="assets/images/logo.svg" alt="logo" />
  <div class="reset-password-wrapper">
    <h3>Відновити пароль</h3>
    <form
      class="reset-password-wrapper-form"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit(forgotPasswordForm.value)"
    >
      <div class="p-fluid formgrid grid">
        <div class="field col-12 md:col-12">
          <label>Пошта</label>
          <input
            name="email"
            formControlName="email"
            id="float-input-invalid"
            type="email"
            placeholder="Введіть пошту"
            pInputText
          />
          <app-form-control-error-message
            [formGroup]="forgotPasswordForm"
            controlName="email"
            errorType="required"
            errorMessage="Потрібно ввести пошту"
          >
          </app-form-control-error-message>
        </div>
      </div>
      <div class="reset-password-wrapper-confirm-secttion">
        <a class="mb-3" [routerLink]="['/', 'auth', 'sign-in']"
          >Перейти на сторінку входу</a
        >
        <button
          [disabled]="isLoading"
          type="submit"
          pButton
          label="Підтвердити"
        ></button>
      </div>
    </form>
  </div>
</div>

<p-dialog
  [(visible)]="displayConfirmDialog"
  [dismissableMask]="true"
  [modal]="true"
  class="reset-password-dialog"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <h5>
    Інструкцію з відновлення паролю було надіслано на вашу пошту:
    <span class="reset-password-dialog-mail">{{ userEmail }}</span>
  </h5>
  <a [routerLink]="['/', 'auth', 'sign-in']">Перейти на сторінку входу</a>
</p-dialog>
