<div class="reset-password-wrapper">
  <h3>Forgot password</h3>
  <form
    class="reset-password-wrapper-form"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit(forgotPasswordForm.value)"
  >
    <span
      class="p-float-label reset-password-wrapper-element p-input-icon-right"
    >
      <i class="pi pi-user"></i>
      <input
        name="email"
        formControlName="email"
        id="float-input-invalid"
        type="email"
        pInputText
      />
      <label for="float-input-invalid">Email</label>
    </span>
    <div class="reset-password-wrapper-confirm-secttion">
      <button
        [disabled]="!forgotPasswordForm.valid"
        type="submit"
        pButton
        label="Confirm"
      ></button>
    </div>
  </form>
</div>

<p-dialog
  [(visible)]="displayConfirmDialog"
  [dismissableMask]="true"
  [modal]="true"
  class="reset-password-dialog"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p>
    Reset password set to your email
    <span class="reset-password-dialog-mail">{{ userEmail }}</span>
  </p>
  <a [routerLink]="['/', 'auth', 'sign-in']">Got to sign in page</a>
</p-dialog>
