.reset-password {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin-bottom: 30px;
    }
}

.reset-password-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 50px 20px;
    border-radius: 50px;
    border: 3px solid var(--primary-color);

    &-element {
        margin: 15px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    &-confirm-secttion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
}

.reset-password-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

    &-mail {
        font-weight: bold;
    }

    a {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
}

:host ::ng-deep {
    .p-dialog .p-dialog-header-icons {
      display: none;
    }
}