<div class="dashboard">
  <div class="dashboard__sidebar">
    <div class="dashboard__sidebar-inner">
      <div class="dashboard__logo-wrapper">
        <img src="assets/images/logo.svg" alt="Image" height="30" />
      </div>
      <div class="dashboard__sidebar-menu">
        <p-panelMenu [model]="items" styleClass="sidebar-menu"></p-panelMenu>
      </div>
      <div class="dashboard__sidebar-footer">
        <hr class="dashboard__sidebar-divider" />
        <a class="dashboard__sidebar-footer-link">
          <img
            src="assets/images/user-avatar.svg"
            class="dashboard__sidebar-avatar"
          />
          <span class="font-medium">John SuperAdmin</span>
        </a>
      </div>
    </div>
  </div>
  <div class="dashboard__main">
    <div class="dashboard__navbar">
      <ul class="dashboard__navbar-menu">
        <li>
          <a class="dashboard__navbar-menu-link">
            <i class="pi pi-inbox"></i>
          </a>
        </li>
        <li>
          <a class="dashboard__navbar-menu-link">
            <i class="pi pi-bell" pBadge value="2"></i>
          </a>
        </li>
        <li>
          <a class="dashboard__navbar-menu-link">
            <img
              src="assets/images/user-avatar.svg"
              class="dashboard__navbar-avatar"
            />
          </a>
        </li>
      </ul>
    </div>
    <div
      class="dashboard__main-content flex flex-column flex-auto overflow-y-auto"
    >
      <div class="dashboard__main-content-inner"></div>
    </div>
  </div>
</div>
