<app-layout [sidebarMenuItems]="sidebarMenuItems">
  <ng-container topbar-menu>
    <button
      data-cy="balance-widget"
      class="p-link layout-topbar-button w-max"
      (click)="balance.toggle($event)"
    >
      <i class="pi pi-money-bill"></i>
      <span class="topbar-button-text">Баланс</span>
      @if (balance$ | async; as balance) {
      <span class="ml-2">{{ balance.amount | currency }}</span>
      }
    </button>
    <p-popover #overlayPanel #balance>
      <ng-template pTemplate="content"
        ><app-balance-widget></app-balance-widget
      ></ng-template>
    </p-popover>

    <button
      class="p-link layout-topbar-button"
      (click)="notifications.toggle($event)"
    >
      @if (notificationsNumber$ | async; as notificationsNumber) {
      <i class="pi pi-bell" pBadge [value]="notificationsNumber.toString()"></i>
      } @else {
      <i class="pi pi-bell"></i>
      }

      <span class="topbar-button-text">Сповіщення</span>
    </button>
    <p-popover #overlayPanel #notifications>
      <ng-template pTemplate="content">
        <app-notifications></app-notifications>
      </ng-template>
    </p-popover>

    <button class="p-link layout-topbar-button" (click)="cart.toggle($event)">
      @if ( cartItemsNumber$ | async; as cartItemsNumber) {
      <i
        class="pi pi-shopping-cart"
        pBadge
        [value]="cartItemsNumber.toString()"
      ></i>
      } @else {
      <i class="pi pi-shopping-cart"></i>
      }
      <span class="topbar-button-text">Кошик</span>
    </button>
    <p-popover #overlayPanel #cart>
      <ng-template pTemplate="content"><app-cart-widget></app-cart-widget></ng-template>
    </p-popover>

    <button
      class="p-link layout-topbar-button"
      (click)="account.toggle($event)"
    >
      <i class="pi pi-user"></i>
      <span class="topbar-button-text">Акаунт</span>
    </button>
    <p-popover #overlayPanel #account>
      <ng-template pTemplate="content">
        <div class="layout-menu-dropdown">
          <button
            pButton
            pRipple
            type="button"
            label="Акаунт"
            class="p-button-text"
            routerLink="account"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            label="Вийти"
            class="p-button-text"
            (click)="logout()"
          ></button>
        </div>
      </ng-template>
    </p-popover>
  </ng-container>
  <ng-container sidebar-appendix>
    <app-posts-widget></app-posts-widget>
  </ng-container>
</app-layout>
