<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12">
    <div class="card">
      <h4>Оформити</h4>
      @if (cart$ | async; as cart) { @if (cartNotEmpty$ | async) { @for
      (cartItem of cart.items; track identify($index, cartItem)) {
      <app-order-cart-item [cartItem]="cartItem"></app-order-cart-item>
      }
      <div class="flex">
        <div class="w-48 hidden md:block"></div>
        <div class="md:pl-8 mt-2 flex-auto">
          <div class="flex-col">
            <div class="flex justify-end pt-6">
              <span class="text-xl text-surface-900 font-bold text-3xl"
                >Всього:</span
              >
              <span
                class="text-xl text-surface-900 font-bold text-3xl ml-8"
                data-cy="order-total"
              >
                @if ( (cartLoading$ | async) === 0) {
                {{ cart.total | currency }}
                } @else {
                <p-skeleton height="1.75rem" width="5rem"></p-skeleton>
                }
              </span>
            </div>
            <div class="flex justify-end text-base text-red-300 ml-8 mb-12">
              @if (balance$ | async; as balance) { @if (+cart.total >
              +balance.amount) { Недостатньо коштів на балансі } }
            </div>
          </div>
        </div>
      </div>
      } @else {
      <div class="p-8 pt-12 flex flex-col items-center justify-center">
        <i class="pi pi-shopping-cart text-4xl"></i>
        <span class="text-2xl mt-4 mb-12">Кошик пустий</span>
      </div>
      } } @else { @for (_ of [].constructor(2); track $index) {
      <div
        class="flex flex-col md:flex-row py-2 border-t border-b border-surface md:items-center"
      >
        <p-skeleton height="4rem" width="4rem"></p-skeleton>
        <div class="flex-auto py-1 md:pl-2">
          <div
            class="flex flex-wrap items-start sm:items-center sm:flex-row sm:justify-between border-surface"
          >
            <div class="w-full sm:w-6/12 flex flex-col">
              <span class="mb-2">
                <p-skeleton height="1.5rem" width="8rem"></p-skeleton>
              </span>
              <p-skeleton height="1rem" width="5rem"></p-skeleton>
            </div>
            <div
              class="w-full sm:w-6/12 flex items-start justify-between mt-4 sm:mt-0 pl-8"
            >
              <div class="sm:w-24">
                <p-skeleton height="39px" width="84px"></p-skeleton>
              </div>
              <div class="flex flex-col sm:items-end">
                <span class="mb-1 sm:mb-2">
                  <p-skeleton height="1.5rem" width="5rem"></p-skeleton>
                </span>
                <p-skeleton height="1rem" width="5rem"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="flex">
        <div class="w-48 hidden md:block"></div>
        <div class="md:pl-8 mt-2 flex-auto">
          <div class="flex justify-end mb-6 pt-6">
            <p-skeleton height="1.75rem" width="5rem"></p-skeleton>
            <span class="ml-8">
              <p-skeleton height="1.75rem" width="5rem"></p-skeleton>
            </span>
          </div>
        </div>
      </div>
      }
      <form [formGroup]="orderCreateForm">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12">
            <h5>Деталі замовлення</h5>
            <ul class="striped-list">
              <li class="striped-list__item">
                <div class="striped-list__item-key">Загальна вага</div>
                <div class="striped-list__item-value">
                  {{ totalWeight$ | async | productWeight }}
                </div>
              </li>
            </ul>
          </div>
          <!-- NOTE: Keep this for a waybill generation logic in future -->
          <!-- <div class="col-span-6">
            <div class="flex flex-col gap-4">
              <h5>Інформація про отримувача</h5>
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 flex flex-col gap-1">
                  <label for="email">Ел. пошта:</label>
                  <input class="w-full" id="email" pInputText formControlName="email" />
                  <app-form-control-error-message
                    [formGroup]="orderCreateForm"
                    controlName="email"
                    errorType="required"
                    errorMessage="Потрібно ввести електронну пошту"
                  ></app-form-control-error-message>
                </div>
                <div class="col-span-12 flex flex-col gap-1">
                  <label for="phone-number">Номер телефону:</label>
                  <p-inputMask
                    class="w-full"
                    inputId="phone-number"
                    formControlName="phoneNumber"
                    mask="+38 (999) 999-9999"
                    slotChar=" "
                    [unmask]="true"
                    [autoClear]="false"
                  ></p-inputMask>
                  <app-form-control-error-message
                    [formGroup]="orderCreateForm"
                    controlName="phoneNumber"
                    errorType="required"
                    errorMessage="Потрібно ввести номер телефону"
                  ></app-form-control-error-message>
                </div>
              </div>
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 flex flex-col gap-1">
                  <label for="first-name">Ім'я:</label>
                  <input
                    class="w-full"
                    id="first-name"
                    pInputText
                    formControlName="firstName"
                    />
                  <app-form-control-error-message
                    [formGroup]="orderCreateForm"
                    controlName="firstName"
                    errorType="required"
                    errorMessage="Це є обов'язковим полем"
                  ></app-form-control-error-message>
                </div>
                <div class="col-span-12 flex flex-col gap-1">
                  <label for="last-name">Прізвище:</label>
                  <input class="w-full" id="last-name" pInputText formControlName="lastName" />
                  <app-form-control-error-message
                    [formGroup]="orderCreateForm"
                    controlName="lastName"
                    errorType="required"
                    errorMessage="Це є обов'язковим полем"
                  ></app-form-control-error-message>
                </div>
                <div class="col-span-12 flex flex-col gap-1">
                  <label for="middle-name">По-батькові:</label>
                  <input
                    class="w-full"
                    id="middle-name"
                    pInputText
                    formControlName="middleName"
                    />
                  <app-form-control-error-message
                    [formGroup]="orderCreateForm"
                    controlName="middleName"
                    errorType="required"
                    errorMessage="Це є обов'язковим полем"
                  ></app-form-control-error-message>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-span-12 lg:col-span-6">
            <div class="flex flex-col gap-4">
              <h5>Інформація про достаку</h5>
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 flex flex-col gap-1">
                  <label for="delivery-service">Служба доставки:</label>
                  <p-select
                    class="w-full"
                    id="delivery-service"
                    [options]="deliveryServices"
                    formControlName="deliveryService"
                  >
                    <ng-template let-selected pTemplate="selectedItem">
                      @if (selected; as deliveryService) {
                      <app-delivery-service-badge
                        mode="short"
                        [withText]="true"
                        [deliveryService]="deliveryService"
                      ></app-delivery-service-badge>
                      }
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                      @if (option; as deliveryService) {
                      <app-delivery-service-badge
                        mode="short"
                        [withText]="true"
                        [deliveryService]="deliveryService"
                      ></app-delivery-service-badge>
                      }
                    </ng-template>
                  </p-select>
                  <app-form-control-error-message
                    [formGroup]="orderCreateForm"
                    controlName="deliveryService"
                    errorType="required"
                    errorMessage="Це є обов'язковим полем"
                  ></app-form-control-error-message>
                </div>
                <!-- NOTE: Keep this for a waybill generation logic in future -->
                <!-- <div class="col-span-12 flex flex-col gap-1">
                <label for="delivery-type">Тип доставки:</label>
                <p-select
                  class="w-full"
                  id="delivery-type"
                  [options]="deliveryTypes"
                  formControlName="deliveryType"
                  optionValue="value"
                ></p-select>
                <app-form-control-error-message
                  [formGroup]="orderCreateForm"
                  controlName="deliveryType"
                  errorType="required"
                  errorMessage="Це є обов'язковим полем"
                ></app-form-control-error-message>
              </div>
              <div class="col-span-12 flex flex-col gap-1">
                <label for="city">Місто:</label>
                <input class="w-full" id="city" pInputText formControlName="city" />
                <app-form-control-error-message
                  [formGroup]="orderCreateForm"
                  controlName="city"
                  errorType="required"
                  errorMessage="Це є обов'язковим полем"
                ></app-form-control-error-message>
              </div> -->
              </div>
              <div class="grid grid-cols-12 gap-4">
                <!-- NOTE: Keep this for a waybill generation logic in future -->
                <!-- <div class="col-span-12 flex flex-col gap-1">
              <label for="post-office">Відділення:</label>
              <input
                class="w-full"
                id="post-office"
                pInputText
                formControlName="postOffice"
                />
              <app-form-control-error-message
                [formGroup]="orderCreateForm"
                controlName="postOffice"
                errorType="required"
                errorMessage="Це є обов'язковим полем"
              ></app-form-control-error-message>
                </div> -->
                @if (!isSelfPickup) {
                <div class="col-span-12 flex flex-col gap-1">
                  <label for="tracking-id">Номер ТТН:</label>
                  <input
                    class="w-full"
                    pInputText
                    id="tracking-id"
                    autocomplete="off"
                    formControlName="trackingId"
                  />
                  <app-form-control-error-message
                    [formGroup]="orderCreateForm"
                    controlName="trackingId"
                    errorType="required"
                    errorMessage="Це є обов'язковим полем"
                  ></app-form-control-error-message>
                  <app-form-control-error-message
                    [formGroup]="orderCreateForm"
                    controlName="trackingId"
                    errorType="alphanumeric"
                    errorMessage="Номер ТТН повинен містити тільки літери та цифри"
                  ></app-form-control-error-message>
                </div>
                }
              </div>
            </div>
            @if (!isSelfPickup) {
            <div class="mt-4 grid grid-cols-12 gap-4">
              <div class="col-span-12 flex flex-col gap-1">
                <label>Маркування (PDF):</label>
                <p-fileUpload
                  class="w-full"
                  data-cy="order-waybill-upload"
                  [accept]="fileFormats"
                  [customUpload]="true"
                  [auto]="true"
                  [maxFileSize]="1000000"
                  (uploadHandler)="onFileUpload($event)"
                >
                </p-fileUpload>
                <app-form-control-error-message
                  [formGroup]="orderCreateForm"
                  controlName="waybill"
                  errorType="required"
                  errorMessage="Це є обов'язковим полем"
                ></app-form-control-error-message>
              </div>
            </div>
            }
          </div>
          <div class="col-span-12 lg:col-span-6">
            <div class="flex flex-col gap-4">
              <h5>Додаткова інформація</h5>
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 flex flex-col gap-1">
                  <label for="customerNote">Коментар:</label>
                  <textarea
                    class="w-full"
                    fluid
                    rows="5"
                    cols="30"
                    id="customerNote"
                    pInputTextarea
                    [autoResize]="true"
                    formControlName="customerNote"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="mt-8">
        <button
          pButton
          (click)="orderCreate()"
          [disabled]="submitting"
          label="Оформити"
          data-cy="order-submit-button"
        ></button>
      </div>
    </div>
  </div>
</div>
