<td>
  <div class="flex items-center">
    <span data-cy="order-list-item-id">{{ request.number }}</span>
    @if (showRequestNotification(request, notifications$ | async)) {
    <i class="pi pi-circle-fill text-green-600 ml-2"></i>
    }
  </div>
</td>
<td>
  {{ request.createdAt | date : 'short' }}
</td>
<td>
  <div class="flex items-center">
    <app-request-type-badge
      class="whitespace-nowrap"
      [type]="request.requestType"
    ></app-request-type-badge>
  </div>
</td>

@switch (request.requestType) { @case (requestType.Return) {
<td>
  <app-request-status-badge
    [status]="request.returnRequest!.status"
  ></app-request-status-badge>
</td>
<td>
  @if (request.requestType === requestType.Return) {
  <app-return-request-delivery-status-badge
    [status]="request.returnRequest!.delivery.status"
  ></app-return-request-delivery-status-badge>
  }
</td>
<td>
  {{ request.returnRequest!.delivery.trackingId }}
</td>
} @case (requestType.FundsWithdrawal) {
<td>
  <app-request-status-badge
    [status]="request.fundsWithdrawalRequest!.status"
  ></app-request-status-badge>
</td>
<td></td>
<td></td>
} } @if (adminView) {
<td>
  <span class="whitespace-nowrap">{{ request.customer!.fullName }}</span>
</td>
}
