<div class="sign-up-confirmation">
  <a routerLink="/">
    <img src="assets/images/logo.svg" alt="logo" />
  </a>
  <div class="sign-up-confirmation__wrapper">
    <h2>Дякуємо за реєстрацію!</h2>
    <p>
      Ми відправили вам листа на <b>{{ email }}</b> з посиланням для
      підтвердження вашої електронної адреси. Якщо ви не бачите листа, будь
      ласка, перевірте папку спам.
    </p>
    <p>
      Також наш менеджер зв'яжеться з вами для підтвердження вашої організації
      та отримання доступу до системи.
    </p>
    <a routerLink="/auth/sign-in">Перейти на сторінку входу</a>
  </div>
</div>
