.order-view {
  &__content {
    position: relative;
  }

  &__note-progress-bar {
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}

:host ::ng-deep {
  .p-message {
    margin: 0 0 1rem 0;
  }
}
