<div *ngIf="order$ | async as order" data-cy="order-view-page">
  <p-messages *ngIf="order.returnRequest as returnRequest" severity="warn">
    <ng-template pTemplate>
      <div class="flex align-items-center">
        <i class="pi pi-arrow-right-arrow-left mr-2"></i>
        <span class="vertical-align-middle">
          Запит на повернення
          <a
            [routerLink]="[
              '/dashboard/requests/return-requests',
              returnRequest.request!.number
            ]"
          >
            №{{ returnRequest.request!.number }}
          </a>
        </span>
        <app-request-status-badge
          class="ml-5"
          [status]="returnRequest.status"
        ></app-request-status-badge>
      </div>
    </ng-template>
  </p-messages>
  <div class="grid order-view">
    <div class="col-12">
      <div class="card order-view__content">
        <div class="flex align-items-center justify-content-between mb-3">
          <h4 class="flex align-items-center m-0">
            <span>Замовлення №{{ order.number }}</span>
            <app-order-status-badge
              class="ml-5"
              [status]="order.currentStatus.status"
            ></app-order-status-badge>
          </h4>
          <p-button
            *ngIf="'cancel' | able : order"
            icon="pi pi-times"
            styleClass="p-button-danger"
            label="Скасувати замовлення"
            (click)="confirmOrderCancelation()"
          ></p-button>
          <p-button
            *ngIf="'return' | able : order"
            icon="pi pi-times"
            styleClass="p-button-warning"
            label="Оформити повернення"
            [routerLink]="['/dashboard/requests/create']"
            [queryParams]="{
              orderNumber: order.number,
              requestType: RequestType.Return
            }"
          ></p-button>
        </div>
        <div class="my-5">
          <ul class="striped-list">
            <li class="striped-list__item">
              <div class="striped-list__item-key">Дата</div>
              <div class="striped-list__item-value">
                {{ order.createdAt | date : 'short' }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Коментар</div>
              <div class="striped-list__item-value">
                <form
                  class="p-fluid"
                  [formGroup]="orderNoteForm"
                  *ngIf="'update' | able : order; else noUpdateNote"
                >
                  <p-progressBar
                    class="order-view__note-progress-bar"
                    mode="indeterminate"
                    [class.visible]="isNoteSaving"
                    [style]="{ height: '4px' }"
                  ></p-progressBar>
                  <textarea
                    rows="5"
                    cols="30"
                    pInputTextarea
                    [autoResize]="true"
                    formControlName="customerNote"
                  ></textarea>
                </form>

                <ng-template #noUpdateNote>
                  {{ order.customerNote || '-' }}
                </ng-template>
              </div>
            </li>
            <!-- <li class="striped-list__item">
              <div class="striped-list__item-key">ПІБ</div>
              <div class="striped-list__item-value">
                {{ order.delivery.firstName }} {{ order.delivery.lastName }}
                {{ order.delivery.middleName }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Номер телефону</div>
              <div class="striped-list__item-value">
                <ng-container
                  *ngIf="
                    order.delivery.phoneNumber as phoneNumber;
                    else emptyPhoneNumber
                  "
                  >{{ phoneNumber | phoneNumber }}</ng-container
                >
                <ng-template #emptyPhoneNumber>-</ng-template>
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Місто</div>
              <div class="striped-list__item-value">
                {{ order.delivery.city }}
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Відділення</div>
              <div class="striped-list__item-value">
                {{ order.delivery.postOffice }}
              </div>
            </li> -->
          </ul>
        </div>
        <div class="my-5">
          <h5>Дані доставки</h5>
          <ul class="striped-list">
            <li class="striped-list__item">
              <div class="striped-list__item-key">Служба доставки</div>
              <div class="striped-list__item-value">
                <app-delivery-service-badge
                  *ngIf="order.delivery.deliveryService as deliveryService"
                  [deliveryService]="deliveryService"
                ></app-delivery-service-badge>
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Статус доставки</div>
              <div class="striped-list__item-value">
                <div class="py-2 mr-5">
                  <div class="flex align-items-center mb-1">
                    <span class="mr-3">
                      <u>
                        {{ order.delivery.updatedAt | date : 'short' }}
                      </u>
                    </span>
                    <app-order-delivery-status-badge
                      [status]="order.delivery.status"
                    ></app-order-delivery-status-badge>
                  </div>
                  <div *ngIf="order.delivery.rawStatus">
                    <b>Повний статус:</b> {{ order.delivery.rawStatus }}
                  </div>
                </div>
              </div>
            </li>
            <li class="striped-list__item">
              <div class="striped-list__item-key">Маркування (PDF)</div>
              <div class="striped-list__item-value">
                <ng-container
                  *ngIf="order.delivery.waybill?.url as url; else noWaybill"
                >
                  <p-button
                    icon="pi pi-eye"
                    label="Переглянути ТТН"
                    data-cy="order-waybill-view-button"
                    (click)="showWaybillViewDialogHandler()"
                  ></p-button>
                  <p-dialog
                    [header]="
                      'Товарно-транспортна накладна (замовлення №' +
                      order.number +
                      ')'
                    "
                    [(visible)]="showWaybillViewDialog"
                    [modal]="true"
                    [style]="{ width: '80vw' }"
                    [draggable]="false"
                    [resizable]="false"
                  >
                    <ngx-doc-viewer
                      [url]="url"
                      viewer="pdf"
                      style="width: 100%; height: 70vh"
                    ></ngx-doc-viewer>
                  </p-dialog>
                </ng-container>
                <ng-template #noWaybill>
                  <span>—</span>
                </ng-template>
              </div>
            </li>
            <li
              *ngIf="'update' | able : order; else noUpdateWaybill"
              class="striped-list__item"
            >
              <div class="striped-list__item-key"></div>
              <form
                [formGroup]="updateWaybillForm"
                class="striped-list__item-value"
              >
                <div class="p-fluid">
                  <div class="p-formgrid grid">
                    <div class="field col-6">
                      <label for="tracking-id">Номер ТТН:</label>
                      <input
                        id="tracking-id"
                        pInputText
                        formControlName="trackingId"
                      />
                      <app-form-control-error-message
                        [formGroup]="updateWaybillForm"
                        controlName="trackingId"
                        errorType="required"
                        errorMessage="Потрібно ввести номер ТТН"
                      ></app-form-control-error-message>
                      <app-form-control-error-message
                        [formGroup]="updateWaybillForm"
                        controlName="trackingId"
                        errorType="alphanumeric"
                        errorMessage="Номер ТТН повинен містити тільки літери та цифри"
                      ></app-form-control-error-message>
                    </div>
                  </div>
                </div>
                <div class="p-formgrid grid">
                  <div class="field col-12 md:col-6">
                    <label for="tracking-id">Файл маркування:</label>
                    <p-fileUpload
                      #waybillUpload
                      data-cy="order-waybill-upload"
                      [accept]="fileFormats"
                      [customUpload]="true"
                      [auto]="true"
                      [maxFileSize]="1000000"
                      [disabled]="(waybillSubmitting$ | async)!"
                      (uploadHandler)="onFileUpload($event)"
                    >
                    </p-fileUpload>
                  </div>
                </div>
                <button
                  pButton
                  label="Оновини дані ТТН"
                  (click)="updateWaybill()"
                  [disabled]="waybillSubmitting$ | async"
                ></button>
              </form>
            </li>
            <ng-template #noUpdateWaybill>
              <li class="striped-list__item">
                <div class="striped-list__item-key">Номер ТТН</div>
                <div class="striped-list__item-value">
                  {{ order.delivery.trackingId }}
                </div>
              </li>
            </ng-template>
          </ul>
        </div>
        <div>
          <h5>Товари</h5>
          <app-order-view-item
            *ngFor="let orderItem of order.items"
            [orderItem]="orderItem"
          ></app-order-view-item>
          <div class="flex">
            <div class="w-12rem hidden md:block"></div>
            <div class="md:pl-5 mt-2 flex-auto">
              <div class="flex justify-content-end mb-4 pt-4">
                <span class="text-xl text-900 font-bold text-3xl">Сума:</span>
                <span
                  class="text-xl text-900 font-bold text-3xl ml-5"
                  data-cy="order-total-amount"
                >
                  {{ order.total | currency }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <p-confirmDialog
          *ngIf="'cancel' | able : order"
          rejectButtonStyleClass="p-button-outlined p-button-secondary"
          acceptButtonStyleClass="p-button-danger"
          header="Ви впевнені, що хочете скасувати дане замовлення?"
        ></p-confirmDialog>
      </div>
    </div>
  </div>
</div>
