<div class="sign-in">
  <a routerLink="/">
    <img src="assets/images/logo.svg" alt="logo" />
  </a>
  <div class="sign-in-wrapper">
    <div class="sign-in-wrapper-title">
      <h3>Вхід</h3>
    </div>
    <form
      class="flex w-full flex-col gap-6"
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit(signInForm.value)"
    >
      <div class="grid grid-cols-1 gap-4">
        <div class="flex flex-col gap-1.5">
          <label for="sign-in-email">Пошта</label>
          <input
            class="w-full"
            name="email"
            formControlName="email"
            id="sign-in-email"
            type="email"
            placeholder="Введіть пошту"
            pInputText
          />
          <app-form-control-error-message
            [formGroup]="signInForm"
            controlName="email"
            errorType="required"
            errorMessage="Потрібно ввести пошту"
          >
          </app-form-control-error-message>
        </div>
        <div class="flex flex-col gap-1.5">
          <label for="sign-in-password">Пароль</label>
          <p-password
            fluid
            name="password"
            formControlName="password"
            inputId="sign-in-password"
            placeholder="Введіть пароль"
            [toggleMask]="true"
            [feedback]="false"
          ></p-password>
          <app-form-control-error-message
            [formGroup]="signInForm"
            controlName="password"
            errorType="required"
            errorMessage="Потрібно ввести пароль"
          >
          </app-form-control-error-message>
        </div>
      </div>
      <div
        class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between"
      >
        <div>
          <a [routerLink]="['/', 'auth', 'sign-up']">Реєстрація</a>
        </div>
        <div class="sm:text-right">
          <a [routerLink]="['/', 'auth', 'forgot-password']">
            Відновити пароль
          </a>
        </div>
      </div>
      <button
        class="w-full"
        [disabled]="isLoading"
        type="submit"
        pButton
        label="Вхід"
      ></button>
    </form>
  </div>
</div>
