.sign-in {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 30px;
  }
}

.sign-in-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 50px 50px 80px;
  border-radius: 50px;
  border: 3px solid var(--primary-color);

  &-title {
    margin-bottom: 10px;
  }

  &-form {
    width: 300px;
  }

  a {
    text-decoration: none;
  }
}
