<div class="grid">
  <div class="col-12">
    <div class="card">
      <h4>Привіт користувач</h4>
      <p>
        This is your empty page template to start building beautiful
        applications.
      </p>

      Тестова форма поповнення коштів:
      <form method="POST" action="https://api.privatbank.ua/p24api/ishop">
        <label>
          <div>Сума:</div>
          <div><input name="amt" value="" /></div>
        </label>
        <label>
          <div>Замовлення:</div>
          <div><input name="order" value="" /></div>
        </label>
        <label>
          <div>Деталі:</div>
          <div><input name="details" value="" /></div>
        </label>
        <label>
          <div>Опис товару:</div>
          <div>
            <input placeholder="Опис товару №..." name="ext_details" value="" />
          </div>
        </label>
        <label>
          <div>Сторінка поверненя (клієнт):</div>
          <div>
            <input
              placeholder="http://staging.hvoya-crm.com/dashboard"
              name="return_url"
              value=""
            />
          </div>
        </label>
        <label>
          <div>Сервер:</div>
          <div>
            <input
              placeholder="http://staging.hvoya-crm.com/api/orders"
              name="server_url"
              value=""
            />
          </div>
        </label>
        <input readonly name="ccy" value="UAH" />
        <input readonly name="merchant" value="245033" />
        <input readonly name="pay_way" value="privat24" />
        <button type="submit">Поповнити</button>
      </form>
    </div>
  </div>
</div>
