<p-table
  #requestsTable
  dataKey="id"
  currentPageReportTemplate="Показано {first} до {last} з {totalRecords} запитів"
  sortField="createdAt"
  [lazy]="true"
  [value]="requests?.data || []"
  [rowHover]="true"
  [rows]="rows"
  [loading]="loading"
  [totalRecords]="requests?.meta?.itemCount || 0"
  [showCurrentPageReport]="true"
  [paginator]="true"
  [sortOrder]="-1"
  [scrollable]="true"
  [scrollHeight]="adminView ? 'calc(100vh - 273px)' : 'calc(100vh - 326px)'"
  (onLazyLoad)="onLazyLoad($event)"
>
  <ng-template pTemplate="loadingicon"></ng-template>
  <ng-template pTemplate="loadingbody">
    @for (_ of [].constructor(rows); track _) {
    <tr>
      <td><p-skeleton height="28px" width="28px"></p-skeleton></td>
      <td><p-skeleton height="28px" width="85px"></p-skeleton></td>
      <td><p-skeleton height="16px" width="98px"></p-skeleton></td>
      <td><p-skeleton height="19px" width="86px"></p-skeleton></td>
      <td><p-skeleton height="16px" width="55px"></p-skeleton></td>
      <td><p-skeleton height="16px" width="55px"></p-skeleton></td>
      @if (adminView) {
      <td><p-skeleton height="16px" width="55px"></p-skeleton></td>
      }
    </tr>
    }
  </ng-template>
  <ng-template pTemplate="caption">
    <div class="table-header flex justify-between items-center">
      Запити
      <form [formGroup]="searchForm">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            pInputText
            formControlName="search"
            type="text"
            placeholder="№ запиту або ТТН"
          />
        </p-iconField>
      </form>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="number">
        <div class="flex justify-between items-center">
          Номер
          <p-sortIcon field="number"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="createdAt">
        <div class="flex justify-between items-center">
          Дата
          <p-sortIcon field="createdAt"></p-sortIcon>
        </div>
      </th>
      <th>Тип запиту</th>
      <th>Статус</th>
      <th>Статус доставки</th>
      <th>Номер ТТН</th>
      @if (adminView) {
      <th>ПІБ</th>
      }
    </tr>
    <tr>
      <th></th>
      <th>
        <p-columnFilter type="date" field="createdAt" [showMenu]="false">
          <ng-template pTemplate="filter" let-filter="filterCallback">
            <p-datepicker
              (onSelect)="filter($event)"
              (onClear)="filter($event)"
              appendTo="body"
              placeholder="Дата"
              [showClear]="true"
            ></p-datepicker>
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="requestType" [showMenu]="false" class="ml-auto">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-select
              [ngModel]="value"
              [options]="requestTypes"
              (onChange)="filter($event.value)"
              [showClear]="true"
              placeholder="Тип"
              appendTo="body"
            >
              <ng-template let-option pTemplate="item">
                <app-request-type-badge
                  [type]="option.label"
                ></app-request-type-badge>
              </ng-template>
              <ng-template pTemplate="selectedItem">
                @if (value) {
                <app-request-type-badge [type]="value"></app-request-type-badge>
                }
              </ng-template>
            </p-select>
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          field="requestStatus"
          [showMenu]="false"
          class="ml-auto"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-select
              [ngModel]="value"
              [options]="requestStatuses"
              (onChange)="filter($event.value)"
              [showClear]="true"
              placeholder="Cтатус"
              appendTo="body"
            >
              <ng-template let-option pTemplate="item">
                <app-request-status-badge
                  [status]="option.label"
                ></app-request-status-badge>
              </ng-template>
              <ng-template pTemplate="selectedItem">
                @if (value) {
                <app-request-status-badge
                  [status]="value"
                ></app-request-status-badge>
                }
              </ng-template>
            </p-select>
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          field="orderReturnRequestDeliveryStatus"
          [showMenu]="false"
          class="ml-auto"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-select
              [ngModel]="value"
              [options]="deliveryStatuses"
              (onChange)="filter($event.value)"
              [showClear]="true"
              placeholder="Статус"
              appendTo="body"
            >
              <ng-template let-option pTemplate="item">
                <app-return-request-delivery-status-badge
                  [status]="option.label"
                ></app-return-request-delivery-status-badge>
              </ng-template>
              <ng-template pTemplate="selectedItem">
                @if (value) {
                <app-return-request-delivery-status-badge
                  [status]="value"
                ></app-return-request-delivery-status-badge>
                }
              </ng-template>
            </p-select>
          </ng-template>
        </p-columnFilter>
      </th>
      <th></th>
      @if (adminView) {
      <th></th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-request let-notification>
    <tr
      app-request-list-item
      class="p-selectable-row"
      [request]="request"
      [adminView]="adminView"
      [requestNotification]="notification"
    ></tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="adminView ? 7 : 6">Запитів не знайдено</td>
    </tr>
  </ng-template>
</p-table>
