<ng-container *ngIf="notificationsList$ | async as list">
  <p-virtualScroller
    *ngIf="list.length > 0; else noNotifications"
    [value]="list"
    [style]="{ width: '250px' }"
    scrollHeight="240px"
    [itemSize]="90"
  >
    <ng-template pTemplate="item" let-notification>
      <a
        [routerLink]="getPath(notification)"
        class="flex flex-column justify-content-between h-full cursor-pointer text-color p-3 h-6rem border-solid background"
        [ngClass]="notification.checked ? 'border-300' : 'border-primary'"
        (click)="checkNotification(notification)"
      >
        <div>{{ notification.message }}</div>
        <div [ngSwitch]="notification.type">
          <div *ngSwitchCase="notificationType.Order">
            Замовник: {{ notification.data.customer.lastName }}
            {{ notification.data.customer.firstName }}
            {{ notification.data.customer.middleName }}
          </div>
          <div *ngSwitchCase="notificationType.User">
            {{ notification.data.lastName }}
            {{ notification.data.firstName }}
            {{ notification.data.middleName }}
          </div>
          <div *ngSwitchCase="notificationType.Info">
            {{ notification.message }}
          </div>
        </div>
      </a>
    </ng-template>
  </p-virtualScroller>
</ng-container>

<ng-template #noNotifications>
  <div class="flex align-items-center justify-content-center p-2 h-full">
    <span class="text-color">Сповіщень немає</span>
  </div>
</ng-template>
