<div class="card">
  <div class="p-fluid p-formgrid grid">
    <div class="field col-12">
      <label for="type">Тип запиту:</label>
      <p-dropdown id="type" [options]="requestTypes" [(ngModel)]="selectedType">
        <ng-template pTemplate="selectedItem">
          {{ selectedType | requestType }}
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{ item.label | requestType }}
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <div [ngSwitch]="selectedType">
        <app-return-request-create *ngSwitchCase="requestType.Return">
        </app-return-request-create>
      </div>
    </div>
  </div>
</div>
