<div class="card">
  <div class="p-fluid formgrid grid grid-cols-12 gap-4">
    <div class="field col-span-12">
      <label for="type">Тип запиту:</label>
      <p-select
        id="type"
        [options]="requestTypes"
        [(ngModel)]="selectedType"
        placeholder="Виберіть тип запиту"
      >
        <ng-template pTemplate="selectedItem">
          <app-request-type-badge
            [type]="selectedType"
          ></app-request-type-badge>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <app-request-type-badge [type]="item.label"></app-request-type-badge>
        </ng-template>
      </p-select>
    </div>
  </div>
  @if (selectedType) {
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12">
      <div>
        @switch (selectedType) { @case (requestType.Return) {
        <app-return-request-create> </app-return-request-create>
        } @case (requestType.FundsWithdrawal) {
        <app-funds-withdrawal-request-create>
        </app-funds-withdrawal-request-create>
        } }
      </div>
    </div>
  </div>
  }
</div>
