<form
  [formGroup]="filtersForm"
  class="p-fluid formgrid grid grid-cols-12 gap-4 justify-end"
>
  <div class="col-fixed">
    <div class="field">
      <label>Період:</label>
      <p-datepicker
        formControlName="range"
        selectionMode="range"
        appendTo="body"
        placeholder="Період"
      ></p-datepicker>
    </div>
  </div>
</form>

@if (!loading) {
<p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
} @else {
<div class="flex justify-center items-center">
  <p-skeleton shape="circle" size="300px" class="skeleton"></p-skeleton>
</div>
}
