<td class="py-4">
  <a
    [routerLink]="[
      '/dashboard',
      'products',
      cartItem.product.baseProduct.id,
      cartItem.product.id
    ]"
  >
    <img
      [src]="
        cartItem.product.properties.images
          ? cartItem.product.properties.images[0]?.url
          : ''
      "
      class="w-16 h-16 shrink-0 shadow-sm"
    />
  </a>
</td>
<td class="pl-8 mr-20">
  <a
    [routerLink]="[
      '/dashboard',
      'products',
      cartItem.product.baseProduct.id,
      cartItem.product.id
    ]"
    class="text-surface-900 dark:text-surface-0 font-medium"
  >
    {{ cartItem.product.properties.name }}
  </a>
  <div class="text-surface-600 dark:text-surface-200 mt-2">{{ cartItem.product.sku }}</div>
</td>
<td class="pl-8 font-medium ml-auto mr-2">
  <form [formGroup]="quantityForm">
    <p-inputNumber
      mode="decimal"
      formControlName="quantity"
      [showButtons]="true"
      [min]="1"
    ></p-inputNumber>
  </form>
  <app-stock-badge
    class="inline-flex mt-2 text-surface-600 dark:text-surface-200"
    [value]="cartItem.product.stock"
  ></app-stock-badge>
</td>
<td class="pl-8 text-surface-900 dark:text-surface-0 font-medium">
  @if ((updating$ | async) === 0) {
  {{ cartItem.product.properties.price * cartItem.quantity | currency }}
  <div class="text-surface-600 dark:text-surface-200 text-sm mt-1">
    {{ cartItem.product.properties.price | currency }} / од.
  </div>
  } @else {
  <p-skeleton height="1.2rem" width="5rem"></p-skeleton>
  <p-skeleton class="block mt-1" height="1rem" width="6rem"></p-skeleton>
  }
</td>
<td class="pl-8 text-surface-900 dark:text-surface-0 font-medium">
  <a
    (click)="removeCartItem()"
    tabindex="0"
    title="Видалити"
    class="cursor-pointer text-pink-500 font-medium hover:text-pink-600 transition-colors duration-300"
  >
    <i class="pi pi-times"></i>
  </a>
</td>
