<p-table
  #transactionsTable
  dataKey="id"
  currentPageReportTemplate="Показано {first} до {last} з {totalRecords} транзакцій"
  [value]="paymentTransactions?.data || []"
  [rowHover]="true"
  [rows]="10"
  [totalRecords]="paymentTransactions?.meta?.itemCount || 0"
  [showCurrentPageReport]="true"
  [lazy]="true"
  [sortOrder]="-1"
  [loading]="loading"
  [paginator]="true"
  (onLazyLoad)="onLazyLoad($event)"
>
  <ng-template pTemplate="loadingicon"></ng-template>
  <ng-template pTemplate="loadingbody">
    <ng-container *ngFor="let _ of [].constructor(10)">
      <tr>
        <td><p-skeleton height="28px" width="85px"></p-skeleton></td>
        <td><p-skeleton height="16px" width="98px"></p-skeleton></td>
        <td><p-skeleton height="19px" width="86px"></p-skeleton></td>
        <td><p-skeleton height="28px" width="28px"></p-skeleton></td>
      </tr>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="caption">
    <div class="table-header flex justify-content-between align-items-center">
      Список транзакцій
      <form [formGroup]="searchForm" class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          formControlName="search"
          type="text"
          placeholder="Пошук"
        />
      </form>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="w-4" pSortableColumn="amount">
        Сума
        <p-sortIcon field="amount"></p-sortIcon>
      </th>
      <th class="w-4">Статус</th>
      <th *ngIf="currentUser?.isAnyAdmin">
        <div
          class="flex align-items-center"
          pTooltip="Статус синхронізації з 1С"
        >
          <i class="pi pi-sync mr-1"></i>1С
        </div>
      </th>
      <th class="w-4" pSortableColumn="createdAt">
        <div class="flex justify-content-between align-items-center">
          Дата
          <p-sortIcon field="createdAt"></p-sortIcon>
        </div>
      </th>
      <th class="w-1">Замовлення/Повернення</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th *ngIf="currentUser?.isAnyAdmin"></th>
      <th>
        <p-columnFilter type="date" field="createdAt" [showMenu]="false">
          <ng-template pTemplate="filter" let-filter="filterCallback">
            <p-calendar
              (onSelect)="filter($event)"
              (onClear)="filter($event)"
              appendTo="body"
              placeholder="Дата"
              [showClear]="true"
            ></p-calendar>
          </ng-template>
        </p-columnFilter>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transaction>
    <tr class="p-selectable-row">
      <td
        data-cy="transaction-amount"
        [class.text-green-600]="+transaction.amount > 0"
        [class.text-red-600]="+transaction.amount < 0"
        [class.text-yellow-600]="
          transaction.status === transactionStatus.Pending
        "
      >
        {{ transaction.amount | currency }}
      </td>
      <td>{{ transaction.status | transactionStatus }}</td>
      <td *ngIf="currentUser?.isAnyAdmin">
        <span
          class="white-space-nowrap"
          [pTooltip]="
            transaction.syncOneCStatus === transactionSyncOneCStatus.Failed
              ? 'У разі невдалої синхронізації система буде робити ще спроби. Зачекайте до години і також перевірте чи працює сервер 1С.'
              : 'Статус синхронізації з 1С'
          "
        >
          {{ transaction.syncOneCStatus | transactionSyncOneCStatus }}
        </span>
      </td>
      <td>{{ transaction.createdAt | date : 'short' }}</td>
      <td
        *ngIf="
          transaction.order || transaction.orderReturnRequest;
          else noEntity
        "
        class="text-center"
      >
        <button
          pButton
          pTooltip="Натистіть для перегляду замовлення/повернення"
          tooltipPosition="left"
          icon="pi pi-arrow-up-right"
          (click)="navigateToEntity(transaction)"
        ></button>
      </td>
      <ng-template #noEntity><td></td></ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">Транзакцій не знайдено</td>
    </tr>
  </ng-template>
</p-table>
