<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 md:col-span-8">
    <div class="card">
      @if (productForm) {
      <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
        @if (isEdit) {
        <div class="grid grid-cols-12 gap-4 mb-6">
          <div class="col-span-12 flex flex-col gap-2 md:col-span-6">
            <label class="font-medium" for="productsList">Продукт</label>
            <p-select
              fluid
              [options]="productsList"
              placeholder="Виберіть продукт для зміни"
              optionLabel="properties.name"
              id="productsList"
              [showClear]="true"
              filterBy="properties.name"
              [filter]="true"
              data-cy="product-list"
              (onChange)="onProductSelected($event)"
            >
              <ng-template let-product pTemplate="item">
                <div>
                  <div>{{ product.properties.name }}</div>
                </div>
              </ng-template>
            </p-select>
          </div>
          @if (productBaseProductChange) {
          <div
            class="flex flex-col gap-1 col-span-12 md:col-span-4 changes-message"
          >
            <app-product-state-changes
              [change]="productBaseProductChange"
            ></app-product-state-changes>
          </div>
          }
        </div>
        } @if (isEdit) {
        <hr />
        }
        <div
          class="grid grid-cols-12 gap-4 mb-6"
          formGroupName="productCategoryGroup"
        >
          @if (!newCategory) {
          <div class="col-span-12 flex flex-col gap-2 md:col-span-6">
            <label class="font-medium" for="productCategoryId">Категорія</label>
            <p-select
              fluid
              [options]="productsCategories"
              placeholder="Виберіть категорію"
              optionLabel="name"
              formControlName="productCategoryId"
              id="productCategoryId"
              [showClear]="true"
              optionValue="id"
              filterBy="name"
              [filter]="true"
              data-cy="product-category-id"
            >
              <ng-template let-category pTemplate="item">
                <div>
                  <div>{{ category.name }}</div>
                </div>
              </ng-template>
            </p-select>
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productCategoryGroup.productCategoryId"
              errorType="required"
              errorMessage="Потрібно вибрати категорію"
            >
            </app-form-control-error-message>
          </div>
          } @if (newCategory) {
          <div class="col-span-12 flex flex-col gap-2 md:col-span-6">
            <label class="font-medium" for="productCategoryName"
              >Нова категорія</label
            >
            <input
              class="w-full"
              id="productCategoryName"
              type="text"
              name="productCategoryName"
              formControlName="productCategoryName"
              placeholder="Введіть назву нової категорії"
              pInputText
              data-cy="product-category-name"
            />
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productCategoryGroup.productCategoryName"
              errorType="required"
              errorMessage="Потрібно ввести категорію"
            >
            </app-form-control-error-message>
          </div>
          }
          <div class="col-span-12 flex flex-col gap-2 md:col-span-1">
            <label class="font-medium opacity-0" aria-hidden="true"
              >&nbsp;</label
            >
            <button
              pButton
              pRipple
              type="button"
              [icon]="newCategory ? 'pi pi-minus' : 'pi pi-plus'"
              class="p-button-success"
              (click)="toggleNewCategory()"
              data-cy="new-product-category-toggle"
            ></button>
          </div>
        </div>
        <hr />
        <div
          class="grid grid-cols-12 gap-4 mb-6"
          formGroupName="productBaseGroup"
        >
          @if (!newProductBase) {
          <div class="col-span-12 flex flex-col gap-2 md:col-span-6">
            <label class="font-medium" for="productBaseId"
              >Базовий продукт</label
            >
            <p-select
              fluid
              [options]="isEdit ? allBaseProducts : baseProductsByCategory"
              placeholder="Виберіть базовий продукт"
              optionLabel="name"
              formControlName="productBaseId"
              [showClear]="true"
              optionValue="id"
              id="productBaseId"
              data-cy="product-base-product-id"
            >
              <ng-template let-baseProduct pTemplate="item">
                <div>
                  {{ baseProduct.name }}
                </div>
              </ng-template>
            </p-select>
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productBaseGroup.productBaseId"
              errorType="required"
              errorMessage="Потрібно вибрати базовий продукт"
            >
            </app-form-control-error-message>
          </div>
          } @if (newProductBase) {
          <div class="col-span-12 flex flex-col gap-2 md:col-span-6">
            <label class="font-medium" for="productBaseName"
              >Новий базовий продукт</label
            >
            <input
              class="w-full"
              id="productBaseName"
              type="text"
              name="productBaseName"
              formControlName="productBaseName"
              placeholder="Введіть назву нового базового продукту"
              pInputText
              data-cy="product-base-product-name"
            />
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productBaseGroup.productBaseName"
              errorType="required"
              errorMessage="Потрібно ввести назву базового продукту"
            >
            </app-form-control-error-message>
          </div>
          }
          <div class="col-span-12 flex flex-col gap-2 md:col-span-1">
            <label class="font-medium opacity-0" aria-hidden="true"
              >&nbsp;</label
            >
            <button
              pButton
              pRipple
              type="button"
              [icon]="newProductBase ? 'pi pi-minus' : 'pi pi-plus'"
              [disabled]="newCategory"
              class="p-button-success"
              (click)="toggleNewProductBase()"
              data-cy="new-base-product-toggle"
            ></button>
          </div>
          @if (isEdit && baseProductCategoryChange) {
          <div
            class="flex flex-col gap-1 col-span-12 md:col-span-4 changes-message"
          >
            <app-product-state-changes
              [change]="baseProductCategoryChange"
            ></app-product-state-changes>
          </div>
          }
        </div>
        <hr />
        <div
          class="grid grid-cols-12 gap-4 mb-6"
          formGroupName="productVariantGroup"
        >
          <div class="col-span-12 flex flex-col gap-2 md:col-span-6">
            <label class="font-medium" for="productVariantSku">Артикул</label>
            <input
              class="w-full"
              id="productVariantSku"
              type="text"
              name="productVariantSku"
              formControlName="productVariantSku"
              placeholder="Введіть актикул"
              pInputText
              data-cy="product-sku"
            />
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productVariantGroup.productVariantSku"
              errorType="required"
              errorMessage="Потрібно ввести артикул"
            >
            </app-form-control-error-message>
          </div>
          <div class="col-span-12 flex flex-col gap-2 md:col-span-6">
            <label class="font-medium" for="productVariantName">Назва</label>
            <input
              class="w-full"
              id="productVariantName"
              type="text"
              name="productVariantName"
              formControlName="productVariantName"
              placeholder="Введіть назву"
              pInputText
              data-cy="product-name-field"
            />
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productVariantGroup.productVariantName"
              errorType="required"
              errorMessage="Потрібно ввести назву"
            >
            </app-form-control-error-message>
          </div>
          <div class="col-span-12 flex flex-col gap-2">
            <label class="font-medium" for="productVariantDescription"
              >Опис</label
            >
            <p-editor
              formControlName="productVariantDescription"
              id="productVariantDescription"
              name="productVariantDescription"
              placeholder="Введіть опис для продукту"
              data-cy="product-description"
            ></p-editor>
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productVariantGroup.productVariantDescription"
              errorType="required"
              errorMessage="Потрібно ввести опис"
            >
            </app-form-control-error-message>
          </div>
          <div class="col-span-12 flex flex-col gap-2 md:col-span-4">
            <label class="font-medium" for="productVariantSizeId">Розмір</label>
            <p-select
              fluid
              [options]="sizes"
              formControlName="productVariantSizeId"
              [showClear]="true"
              optionValue="id"
              id="productVariantSizeId"
              placeholder="Виберіть розмір"
              data-cy="product-size"
            >
              <!-- <ng-template let-size pTemplate="selectedItem">
                {{ size | productSize }}
              </ng-template> -->
              <ng-template let-size pTemplate="item">
                {{ size | productSize }}
              </ng-template>
            </p-select>
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productVariantGroup.productVariantSizeId"
              errorType="required"
              errorMessage="Потрібно вибрати розмір"
            >
            </app-form-control-error-message>
          </div>
          <div class="col-span-12 flex flex-col gap-2 md:col-span-4">
            <label class="font-medium" for="productVariantColorId">Колір</label>
            <p-select
              fluid
              #colorDropdown
              [options]="colors"
              formControlName="productVariantColorId"
              [showClear]="true"
              optionValue="id"
              id="productVariantColorId"
              placeholder="Виберіть колір"
              data-cy="product-color"
            >
              <!-- <ng-template pTemplate="selectedItem">
              <div class="flex items-center">
                <app-product-color-badge
                  class="mr-2"
                  [color]="colorDropdown.selectedOption.value"
                ></app-product-color-badge>
                <div>{{ color.name }}</div>
              </div>
            </ng-template> -->
              <ng-template let-color pTemplate="item">
                <div class="flex items-center">
                  <app-product-color-badge
                    class="mr-2"
                    [color]="color"
                  ></app-product-color-badge>
                  <div>{{ color.name }}</div>
                </div>
              </ng-template>
            </p-select>
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productVariantGroup.productVariantColorId"
              errorType="required"
              errorMessage="Потрібно вибрати колір"
            >
            </app-form-control-error-message>
          </div>
          <div class="col-span-12 flex flex-col gap-2 md:col-span-4">
            <label class="font-medium" for="productVariantPrice">Ціна</label>
            <p-inputNumber
              fluid
              inputId="productVariantPrice"
              id="productVariantPrice"
              formControlName="productVariantPrice"
              currency="UAH"
              locale="uk-UA"
              [allowEmpty]="false"
              mode="currency"
              data-cy="product-prize"
            >
            </p-inputNumber>
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productVariantGroup.productVariantPrice"
              errorType="required"
              errorMessage="Потрібно ввести ціну"
            >
            </app-form-control-error-message>
          </div>
          <div class="col-span-12 flex flex-col gap-2 md:col-span-4">
            <label class="font-medium" for="productVariantWeight">Вага</label>
            <p-inputNumber
              fluid
              inputId="productVariantWeight"
              id="productVariantWeight"
              formControlName="productVariantWeight"
              mode="decimal"
              suffix=" кг"
              data-cy="product-weight"
              [min]="0"
              [minFractionDigits]="1"
              [maxFractionDigits]="2"
            >
            </p-inputNumber>
            <app-form-control-error-message
              [formGroup]="productForm"
              controlName="productVariantGroup.productVariantWeight"
              errorType="required"
              errorMessage="Потрібно ввести вагу"
            >
            </app-form-control-error-message>
          </div>
          <div class="col-span-12 flex flex-col gap-2 md:col-span-4">
            <label class="font-medium" for="productVariantStock"
              >Наявність</label
            >
            <p-inputNumber
              fluid
              pTooltip="Наявність товару синхронізується з 1С"
              inputId="productVariantStock"
              id="productVariantStock"
              formControlName="productVariantStock"
              [min]="0"
            >
            </p-inputNumber>
          </div>
          <div
            class="col-span-12 flex items-center gap-3 rounded-lg border border-surface-200 px-4 py-3"
          >
            <p-checkbox
              inputId="productVariantIsPublished"
              aria-labelledby="Опублікувати товар"
              [binary]="true"
              formControlName="productVariantIsPublished"
            ></p-checkbox>
            <label
              class="cursor-pointer font-medium"
              for="productVariantIsPublished"
            >
              Опублікований
            </label>
          </div>
          @if (isEdit && selectedProductImages.length) {
          <div class="col-span-12 selected-product-images-wrapper">
            @for (image of selectedProductImages; track image) {
            <div
              class="selected-product-images-wrapper-image"
              data-cy="product-images"
            >
              <img
                [src]="image?.url"
                class="w-full"
                [class.open-preview]="image?.active"
                [class.remove]="image?.remove"
                (click)="setImageActive(image)"
              />
              @if (!image?.active) {
              <button
                pButton
                pRipple
                type="button"
                data-cy="product-image-remove"
                [icon]="image?.remove ? 'pi pi-check' : 'pi pi-times'"
                [class]="image?.remove ? 'restore' : 'remove'"
                (click)="removeProductImage(image)"
              ></button>
              }
            </div>
            }
          </div>
          }
          <div class="col-span-12 flex flex-col gap-2">
            <label class="font-medium" for="images">Завантаження файлів</label>
            <app-file-upload
              #fileUpload
              name="images[]"
              variant="file"
              [customUpload]="true"
              (uploadHandler)="onUpload($event)"
              (onRemove)="onRemove($event)"
              [multiple]="true"
              [accept]="acceptedFiles"
              [invalidFileTypeMessageDetail]="invalidFileTypeMessage"
              [maxFileSize]="5000000"
              [auto]="true"
              [disabled]="productImagesDisabled"
              chooseLabel="Завантажити файл"
              emptyMessage="Перетягніть файл для завантаження"
              data-cy="product-image-upload"
            ></app-file-upload>
          </div>
          <div class="col-span-12 flex justify-end">
            <div class="w-full md:w-1/4">
              <button
                type="submit"
                pButton
                class="w-full"
                label="Зберегти"
                data-cy="product-save-button"
              ></button>
            </div>
          </div>
        </div>
      </form>
      }
    </div>
  </div>
  <div class="col-span-4 hidden md:block">
    <div class="product-preview">
      <div class="product-preview-header mb-6">
        <div>Попередній перегляд</div>
      </div>
      <app-product-item
        [product]="product$ | async"
        [hideAddToCartButton]="true"
        [previewImages]="previewImagesList"
      ></app-product-item>
    </div>
  </div>
</div>
